[2016-01-09 19:39] mherchel opened #1 "Content [Meta]"
**Global**
- [x] Site title
- [x] Header heading
- [x] Copyright in footer

**Sidebar**
- [x]  Update tweet header

**Menu**
- [x] Remove schedule

**Front**
- [x]  Main heading
- [x]  Dates & Block info
- [x]  Remove featured Speakers
  - [x]  Put up placeholders
- [x]  Remove sponsors

**About Page**
- [x] Verify Content

**Location**
- [x] Verify Content

**Lodging**
- [x] Update with https://w

[2016-01-09 19:47] mherchel opened #2 "Session Submission Page"
Needs to be created and made to work!

[2016-01-09 19:54] mherchel opened #3 "Update twitter search sidebar to be for #FLDC16"
This needs to be done through twitter's website on the fldrupalcamp account

[2016-01-09 19:56] mherchel opened #4 "Launch archive site for FLDC15"
Create URL and launch site for Florida Drupalcamp 2015

[2016-01-09 19:57] mherchel opened #5 "Link footer to 2015 site"
Dependent on #4

[2016-01-09 19:59] mherchel opened #6 "Update block class module"
Update says there's a security update

[2016-01-09 19:59] mherchel opened #7 "Update Field Group"
Update says there's a security update

[2016-01-09 20:01] mherchel opened #8 "Content - Update Jesus' profile"
It says Blink, where it should be FFW.. verify other stuff too!

http://fldrupalcampstg.prod.acquia-sites.com/users/jmolivas

[2016-01-09 20:01] ThatGuyCND commented on #2
Session submission is available trough the admin dashboard - iirc, we had presenters create user accounts (the only real users stored in the DB) so that we could leverage the dashboard.

need to ensure:
- default event is 2016 when creating new session (/node/add/sess)
- current user is autopop'd as speaker
- speaker role is added to new user accounts
- only non-admin fields are present for speake

[2016-01-09 20:03] ThatGuyCND commented on #5
already completed in Drupal, needs to be completed on splash page

[2016-01-09 20:04] ThatGuyCND commented on #8
we should get Jesus to do this by sending him creds to the user - he'll also be able to add/update his session.

[2016-01-09 20:13] ThatGuyCND opened #9 "Admin Creds"
Update admin's `admin_fldc` creds to use new year in pre-defined text pattern on staging env.

[2016-01-09 20:31] ThatGuyCND opened #10 "server redirect for http://2016.fldrupal.camp/"
should resolve and redirect to http://fldrupal.camp

[2016-01-09 20:36] JCL324 commented on #9
Done.

[2016-01-09 20:36] #9 closed

[2016-01-09 20:40] ThatGuyCND opened #11 "Remove legacy attendees"
Attendees pulled in via Event Bright integration need to be removed from the 2016 site in preparation for new attendees.

[2016-01-09 20:41] ThatGuyCND commented on #4
completed - see #5 for updated desc

[2016-01-09 20:41] #4 closed

[2016-01-09 20:47] JCL324 commented on #10
Added new sub-domain for 2016. Waiting for propagation.

[2016-01-09 20:56] ThatGuyCND commented on #1
these should be brought to the organizing group:
- Removal of:
-- Attendees page (until we have attendees, maybe use this page to link back to 2016 EB event)
-- Community Day
-- Twitter Contest

[2016-01-09 20:59] mherchel opened #12 "Need PDF for "Become a Sponsor""
Needs to be updated on http://fldrupalcampstg.prod.acquia-sites.com/sponsors/become-sponsor

[2016-01-09 21:00] mherchel commented on #12
I removed the old one. Add the new one to the `file attachments` field

[2016-01-09 21:06] mherchel commented on #1
@ThatGuyCND Agree!

[2016-01-09 21:06] mherchel commented on #1
Content updated and closing

[2016-01-09 21:06] #1 closed

[2016-01-09 21:07] mherchel commented on #2
hmmm... we also need a sessions page - we had one before. I know before we had a button on the top of that, which linked to the submission page.

[2016-01-09 21:08] mherchel opened #13 "Need Unaccepted Sessions View"
Need a view for submitted sessions

Related to #2

[2016-01-09 21:08] mherchel commented on #13
working on this now

[2016-01-09 21:09] mherchel commented on #13
I'm going to delete the old sessions

[2016-01-09 21:13] mherchel opened #14 "Edit Session Submission - Thank you page!"
http://fldrupalcampstg.prod.acquia-sites.com/thanks-submitting-session

[2016-01-09 21:15] mherchel commented on #14
done!

[2016-01-09 21:15] #14 closed

[2016-01-09 21:16] mherchel opened #15 "Update any automatic emails for session submissions"
I think one is sent...

[2016-01-09 21:23] mherchel commented on #13
done http://fldrupalcampstg.prod.acquia-sites.com/sessions

[2016-01-09 21:23] #13 closed

[2016-01-09 21:23] mherchel commented on #5
Fuck the splash page!

[2016-01-09 21:23] #5 closed

[2016-01-09 21:23] mherchel commented on #3
done

[2016-01-09 21:23] #3 closed

[2016-01-09 21:54] mherchel opened #16 "CAPTCHA is broken on /user/register"
![image](https://cloud.githubusercontent.com/assets/1605905/12218590/9fd68fba-b6f1-11e5-8bd8-7ea6a1f8aea5.png)

[2016-01-09 21:54] mherchel commented on #16
going to disable for now

[2016-01-09 21:58] mherchel opened #17 "Error on account creation"
Error when creating a regular account
[code]
![image](https://cloud.githubusercontent.com/assets/1605905/12218607/32998eb0-b6f2-11e5-9fe6-9dd44e23f45d.png)

[2016-01-09 21:58] mherchel commented on #17
@JCL324 You want to take a look at this?

[2016-01-09 21:59] mherchel opened #18 "Blank email received on account creation"
May be related to #17

Received this email (no subject) when I created an account

![image](https://cloud.githubusercontent.com/assets/1605905/12218619/6150c750-b6f2-11e5-882c-7b5ca0376dc5.png)

[2016-01-09 22:01] mherchel opened #19 "Authenticated Users are not permitted to create sessions"
Currently, as an auth user, I can't create a session. Need to modify the permissions

[2016-01-09 22:08] mherchel commented on #15
Done
[code]

[2016-01-09 22:08] #15 closed

[2016-01-09 22:09] mherchel opened #20 "Need Log in and Register Link in the main menu"

[2016-01-09 22:18] JCL324 commented on #10
This is now working as requested, but it really should participate in the fldrupal.camp redirect to https://www.fldrupal.camp.  Not critical but leaving open for now.

[2016-01-09 22:24] JCL324 opened #21 "Cron not running on Stage"
Acquia way is still as convoluted as ever! Why do all these hosted platforms make it sooo difficult for such an easy task?

[2016-01-09 22:27] JCL324 commented on #20
Re-enabled the main menu link.

[2016-01-09 22:27] #20 closed

[2016-01-09 22:30] JCL324 commented on #6
My local drush is currently broken for D7, have spent hours trying to fix after getting it to work for D8. I will get Rick Esser and Spinspire to do these and all the other updates as well.

[2016-01-10 20:21] ultimike commented on #12
All set. I uploaded the up-to-date PDF and tweaked the content a bit.

[2016-01-10 20:21] #12 closed

[2016-01-11 14:50] mherchel opened #22 "[Meta] Launch checklist"
- [ ] Error logging / Warnings turned off
- [ ] Aggregation enabled

[2016-01-11 14:50] mherchel commented on #19
Fixed by modifying permissions

[2016-01-11 14:50] #19 closed

[2016-01-12 01:49] JCL324 opened #23 "Hover link on front page diver says 2015"

[2016-01-12 01:51] JCL324 commented on #11
Not removing.  Bio CT has an EB ID field so added a filter to the view for 2016 ID.

[2016-01-12 01:51] #11 closed

[2016-01-13 15:39] ultimike opened #24 "Launch sponsors"
John,

Mike H. asked me to assign this to you - here's a list of FLDC2016 sponsors that we have commitments from that we can add to the site for launch.

Gold:
WebEnabled

Silver:
Acquia
True North Custom
Hot Sauce Design and Development
Purple Rock Scissors
DrupalEasy

Bronze:
OSTraining

The following have committed to a sponsorship, but haven't decided on a level yet:
CloudNYNE (ahem)
OS Traini

[2016-01-13 18:01] mherchel opened #25 "Update featured speakers to only have 3"
Right now the layout has 4. Need to update it and the theming

[2016-01-13 19:02] JCL324 commented on #24
Reassigning back to Mike A. Only 1 logo and 1 company bio so can't do much.

[2016-01-13 19:07] JCL324 commented on #24
I have enabled and updated those that were from last year on the site: DevPanel, Acquia, Hot Sauce, True North.  However, you indicate that OS Training is Bronze, but also not decided on level?

[2016-01-14 16:32] ultimike commented on #24
John,

Thanks for your help on this one. OSTraining is Bronze, it is confirmed.

I just tried to add DrupalEasy as a sponsor and when I submitted the node, I got a Pathauto error: https://www.evernote.com/l/AAOG4A6pxa1DKpZaK-_MJiPNGfBjO7m-C30 - once this is fixed, I'll go ahead and add DrupalEasy and Purple Rock Scissors.

I went ahead and published Florida Technical College as an in-kind sponsor.

[2016-01-14 17:07] JCL324 commented on #7
This was done by Rick E.

[2016-01-14 17:07] #7 closed

[2016-01-14 17:08] JCL324 commented on #6
Done by Rick.

[2016-01-14 17:08] #6 closed

[2016-01-14 17:44] JCL324 commented on #24
Ah, pesky DB updates fixed it.  There was a massive module update and someone forgot to do this - me!

I created your node, just need to update with logo and bio :)

[2016-01-14 18:17] iribarne commented on #16
It looks like the database updates done by John may have fixed this as well. I enabled re-captcha on the user_register_form, and the re-captcha looks good (see screenshots below).
![user_register_form](https://cloud.githubusercontent.com/assets/617832/12333229/023e6e16-bac1-11e5-81a5-a9e2b5faeaf6.png)
![create_new_account](https://cloud.githubusercontent.com/assets/617832/12333233/07f1eb80-bac1-11

[2016-01-14 18:52] ultimike commented on #24
Ok - all updated. I'll add/update moving forward.

thanks,
-mike

[2016-01-14 18:52] #24 closed

[2016-01-14 21:07] iribarne commented on #17
This is a permissions issue. Currently, only administrators can create accounts (see screenshot):

![original_accounts_permissions](https://cloud.githubusercontent.com/assets/617832/12337511/7f79ace4-bad8-11e5-8459-5b8212b3321c.png)

Changed accounts permission to "Visitors, but with administrator approval is required."

![new_accounts_permission](https://cloud.githubusercontent.com/assets/617832/

[2016-01-14 21:13] iribarne commented on #18
This is related to #17. After changing the account creation permissions to  "Visitors, but with administrator approval is required." as described in #17, the email received has a subject and body as seen below in screenchot.

![email_received_after_account_creation](https://cloud.githubusercontent.com/assets/617832/12337749/cf6184e2-bad9-11e5-883d-a139f65fdbbf.png)

[2016-01-14 21:45] JCL324 commented on #21
Fixed.

[2016-01-14 21:45] #21 closed

[2016-01-19 19:55] ultimike commented on #23
I'm pretty sure this is a theming thing, not a configuration issue. I don't have a checkout of the code, so I can't confirm.

Should be super-easy for any one who has a checkout of the code to do.

-mike

[2016-01-19 19:56] ultimike commented on #17
Hector,

So, with the permission fix can this issue be closed?

-mike

[2016-01-19 19:57] ultimike commented on #18
Hector,

With the permission fix on #17 can this issue be closed as well?

thanks,
-mike

[2016-01-19 19:59] ultimike commented on #16
Are the recaptcha keys being used even for this domain? Or are they for the fldrupal.camp domain?

How about we just disable recaptcha for now and use a plain-old math captcha until after launch?

-mike

[2016-01-19 20:01] ultimike commented on #8
I just sent Jesus an email with his credentials to update.

thanks,
-mike

[2016-01-19 20:09] ultimike commented on #2
*  Default event set to 2016.
*  Current user is auto populated as speaker.
*  So, we want all new user accounts to get the "Speaker" role, correct? If so, we can do that with Rules. Please confirm.
*  "Only non-admin fields are present for speaker role"? Not sure what you mean here - are you talking about on a user's "edit" page? If so, this is confirmed (I just gave the "test-1" user the "Speake

[2016-01-19 20:30] mherchel opened #26 "Update Mailchimp info"
![image](https://cloud.githubusercontent.com/assets/1605905/12431117/905523e4-bec1-11e5-821c-9f5f35a0f57a.png)

[2016-01-19 20:30] JCL324 commented on #23
Updated sites/all/themes/fldc14/layouts/zones/zones-layout.tpl.php and pushed to staging branch.

[2016-01-19 20:30] #23 closed

[2016-01-19 20:31] iribarne commented on #17
Mike,

Yes, as long as it is not "Administrators only."  I set it to visitors with admin permission and no email verification for staging, but when the site launches that may have to be changed.

-Hector

[2016-01-19 20:32] JCL324 commented on #26
Taking

[2016-01-19 20:33] iribarne commented on #18
Mike,

Yes, the fix for #17 also fixes this ticket.

-Hector

[2016-01-19 20:42] mherchel commented on #18
@iribarne Closing, but feel free to close it out, if it's fixed :)

[2016-01-19 20:42] #18 closed

[2016-01-19 20:42] JCL324 commented on #26
I found only one reference to 2015 and removed it.  Everything I can find now says Florida Drupal Camp.  Could not find anything 2014.

[2016-01-19 21:21] mherchel commented on #25
@JCL324 I updated the css on master. Should I just deploy the code over to staging on Acquia?

[2016-01-19 21:30] JCL324 commented on #25
all current code is on staging. not sure what's in master now.  I would merge your changes on master into staging and when we're ready to launch, we can do a final merge back to master and deploy to prod. Make sense?

[2016-01-19 21:34] mherchel commented on #25
Cool. I cherrypicked the two commits and pushed them to staging. Closing!

[2016-01-19 21:34] #25 closed

[2016-01-19 23:32] #17 closed

[2016-01-20 06:13] ThatGuyCND commented on #2
Users shouldn't have access to admin fields on the session edit page.
On Jan 19, 2016 12:09 PM, "Michael Anello" <notifications@github.com> wrote:

[2016-01-20 13:22] ultimike commented on #2
@ThatGuyCND Confirmed - users with only the "Speaker" role do not have access to any admin fields on the session add/edit pages.

Anyone want to chime in on whether or not all new users automatically get the "Speaker" role?

thanks,
-mike

[2016-01-20 13:24] ultimike commented on #8
It appears that Jesus took care of this on the http://fldrupalcampstg.prod.acquia-sites.com site. Closing.

-mike

[2016-01-20 13:24] #8 closed

[2016-01-20 14:28] mherchel commented on #16
Changed to Math. Closnig

[2016-01-20 14:28] #16 closed

[2016-01-20 14:29] mherchel opened #27 "New Eventbrite event needs to be created, linked to from menu"
New Eventbrite event needs to be created, linked to from menu

[2016-01-20 14:53] mherchel opened #28 "Create profiles for Morten and Karen"
Since we're launching late, let's launch with the full set of speakers.

Also, to keep things simple, let's just copy paste stuff off of their public profiles, which they can then update later if needed :)

[2016-01-21 14:07] mherchel commented on #28
done

[2016-01-21 14:07] #28 closed

[2016-01-21 15:19] mherchel commented on #22
![image](https://cloud.githubusercontent.com/assets/1605905/12484486/83bb3c0a-c028-11e5-83f0-c63fe4f51e5c.png)

[2016-01-21 15:19] #22 closed

[2016-01-21 15:20] mherchel commented on #27
done

[2016-01-21 15:20] #27 closed

[2016-01-21 15:21] mherchel commented on #2
Tested. This works. Closing.
![image](https://cloud.githubusercontent.com/assets/1605905/12484505/a40d3a44-c028-11e5-8007-2185415fa9c7.png)

[2016-01-21 15:21] #2 closed

[2016-01-22 18:42] mherchel opened #29 "What's up with the attendees view?"
What needs to be done to get the attendees view synced with EB? Does anyone want to tackle this? @JCL324 @iribarne @rje1953 @Tcraw77813 @jeppy64

[2016-01-22 18:46] JCL324 commented on #29
Taking a look now.

[2016-01-22 18:47] JCL324 commented on #26
Mike, if you want to take a look feel free. Otherwise close.

[2016-01-22 19:13] mherchel commented on #26
Closing :)

[2016-01-22 19:13] #26 closed

[2016-01-22 19:13] JCL324 commented on #29
Rick, I'm going to pass this on to you and Christian. First, all the Bio nodes currently are saying "new" and not sure why they would be updated.  Second, the EventID needs to be updated, is this hardcoded?  I'm pretty sure this year's is 19970715949 which if you look at the filters on the Attendees view, that's what I set if for.  There are currently 11 people signed up for this year.

[2016-01-25 15:20] Tcraw77813 commented on #29
As per your first question, I believe that has to do with the custom EB Integration module. On cron the module goes and gets attendee bios from their API and adds them to the queue. It then processes the items and updates the bios accordingly. When we were testing the module back in December, the database still had around 100-150 items in the queue so that's likely why people's bio are being updat

[2016-01-25 18:38] JCL324 commented on #29
But somewhere - in the code? - it sets the EB id for all the nodes being imported?  The problem is that it shouldn't be bringing in last year's attendees at all, only this year's.

Sent from my iPhone

[2016-01-25 18:46] mherchel opened #30 "http://www.fldrupalcamp.org redirect not working"
http://www.fldrupalcamp.org/ is not working

[2016-01-25 18:50] mherchel commented on #30
Domain still looks good. The IP address doesn't resolve to the same IP as fldrupal.camp

Name servers are all the same (set to Linode). This appears to be a DNS issue.

[2016-01-25 19:38] JCL324 commented on #30
Nope, it's my ailing Linode in Atlanta.  Ever since Dec. with all their DDOS attacks I keep having to restart Apache occasionally. The IP address is different since the Linode controls the DNS for both domains, but only the live site points to Acquia IPs.

[2016-01-25 19:38] #30 closed

[2016-01-25 20:02] Tcraw77813 commented on #29
It queries all events in the system (in this case there are two) and then iterates over them. The EB ID is pulled out from the field during each iteration and then the API is called and returns all the attendees registered for that particular event. I can add a line of code that will only query 'published' nodes. This way as long as previous event(s) have been set to 'unpublished' then it will onl

[2016-01-25 20:28] JCL324 commented on #29
Sounds good.  Is it not possible to just ignore the past event(s)?  Sounds like extra work that isn't necessary.

[2016-01-25 20:35] Tcraw77813 commented on #29
If you didn't want to add anymore code the only way that I see it being possible to 'ignore' the old event would be to delete it from the system. I'm not sure if you want to do that or not so that's why i suggested the code approach. The new code would be at most five lines, so it's not that big of a deal if we take that route.

[2016-01-26 07:55] JCL324 commented on #29
Christian, I've investigated a bit further and it doesn't appear that any of this year's attendees are coming over.  There are currently 15 registered for 2016 and I don't see them on the Drupal side.  They should have the event id of 19970715949 so they show up on https://www.fldrupal.camp/community/attendees.  It appears that all the Bio nodes have 15502173418 which is last year's id.  I've unpu

[2016-01-26 11:45] jeppy64 commented on #29
Hey Guys,

Not sure if this helps tracking the issue, but I remember vaguely, while
building the new architecture last year that I had put entity reference
prepopulate in the mix very early on. My foggy old brain memory says... the
idea was that each event had it's own event id value, so, when bios were
created against a specific event (as child nodes through Relativity), the
event id became part

[2016-01-26 20:17] rje1953 commented on #29
We made a commit to DEV that added 1 line of code to the custom Eventbrite Integration module to pull data only published events. We tested it and it works but you must first enable the module and then set the Bio Field mappings. Then run CRON several times to clear out the remains of last year's data from the Queue Table. John, can you please deploy this code to Stage and Production? Then we will

[2016-01-26 20:18] rje1953 commented on #29
Sorry didn't mean to close this, only comment.

[2016-01-26 22:17] JCL324 commented on #29
Ok done.  Code is on Staging and Prod.

@mherchel, did you make that tag on Prod from the Staging branch?  Isn't it time to just go back to having Master as the main branch?

[2016-01-26 22:21] mherchel commented on #29
After I deployed the code to prod, I downsynced the code/db/files from prod to both staging and dev

[2016-01-26 22:26] JCL324 commented on #29
Um, that's not what I asked. When you "deployed code to prod" what specifically did you do? Did you drag the Staging code over to Prod thus making a tag labeled 2016-01-21? Why are we not making tags off of the master branch?

[2016-01-26 22:45] rje1953 commented on #29
Hi John, I'm not seeing any published content of type = Bio on the PROD site. It works just fine on the STAGING site. This leads me to think that the code did not get deployed to PROD. Can you please check? Thanks.

[2016-01-26 22:56] JCL324 commented on #29
If it's working on Staging then it has to on Prod since the current tag on Prod was made from Staging.  But I just looked on Prod, and there are 4 people now on the attendees page!  Should be 17, is it just more cron runs to get them all over? And I checked on the Content page, set filters for Bio and published and there are 4 there.

[2016-01-26 22:58] rje1953 commented on #29
OK Then it works and just needs more CRON runs. I was impatient. Thanks. I'll check later on but we should eventually see all 16 or whatever the number is currently.

[2016-01-27 13:50] mherchel opened #31 "Spam!"
We're getting session spam every night. Right now its being managed manually, but if we could fix captcha and get honeypot working (if it's not) that might help

[2016-01-27 15:10] mherchel commented on #31
I enabled honeypot on the session submission form, and enabled (and tested) recaptcha on the user account creation form.

[2016-01-27 15:10] #31 closed

[2016-02-02 18:41] mherchel commented on #29
Seems to be working. I went ahead and enabled it. https://www.fldrupal.camp/community/attendees

[2016-02-02 18:41] #29 closed

[2016-02-05 22:45] JCL324 opened #32 "Update SSL Certificate"
I renewed it on 1/21/16 and just activated and installed it on Acquia.  Verified it's valid until 3/6/2017.

[2016-02-05 22:45] #32 closed

[2016-02-12 14:19] mherchel opened #33 "The 2014 site isn't coming up"
http://2014.fldrupalcamp.org/ isn't working for me

[2016-02-12 16:46] JCL324 commented on #33
None of the archive sites were working, restarted Apache.  I've added an alert so I should know it before you do next time.

[2016-02-12 16:46] #33 closed

[2016-02-12 17:10] JCL324 commented on #10
Finally fixed.

[2016-02-12 17:10] #10 closed

[2016-09-04 18:09] mherchel opened #34 "Need to update sponsorship packet for FLDC17"
Need sponsorship PDF updated on http://stage.fldrupal.camp/sponsors/become-sponsor

[2016-09-04 18:09] mherchel opened #35 "Need sponsorship page updated"
http://stage.fldrupal.camp/sponsors/become-sponsor

[2016-09-04 18:09] mherchel opened #36 "Remove old sponsors"
http://stage.fldrupal.camp/sponsors/

[2016-09-04 18:09] mherchel opened #37 "Remove old attendees"

[2016-09-04 18:10] mherchel opened #38 "Figure out Lodging / hotel packages"
http://stage.fldrupal.camp/lodging

[2016-09-04 18:10] mherchel opened #39 "Add some real contact info to /contact"
http://stage.fldrupal.camp/conference/contact

[2016-09-04 18:11] mherchel opened #40 "Update after-party page with placeholder"
http://stage.fldrupal.camp/community/after-party

[2016-09-04 18:11] mherchel opened #41 "Reach out to Pantheon for afterparty sponsorship"
http://stage.fldrupal.camp/community/after-party

[2016-09-04 18:13] mherchel opened #42 "Figure out featured speakers"
This is a blocker for launching the website

cc @ultimike

[2016-09-04 18:18] mherchel opened #43 "Figure out who will be managing the FLDC financing"
Will it be the DA or CFCS?

We may need to update Eventbrite's bank account info

cc @ultimike

[2016-09-04 18:32] #35 closed

[2016-09-05 12:37] mherchel opened #44 "Put archived 2016 site up on 2016.fldrupal.camp"
Put archived 2016 site up on 2016.fldrupal.camp

[2016-09-05 14:08] mherchel commented on #36
done

[2016-09-05 14:08] #36 closed

[2016-09-05 14:34] mherchel opened #45 "Work on og & twitter metatags"
the twitter card is wrong

[2016-09-07 13:28] #40 closed

[2016-09-07 13:29] mherchel commented on #34
done

[2016-09-07 13:29] #34 closed

[2016-09-07 13:29] mherchel commented on #37
removed

[2016-09-07 13:29] #37 closed

[2016-09-07 13:29] mherchel commented on #42
First speaker is done. No longer a blocker.

[2016-09-10 12:47] ultimike commented on #42
Second speaker has been invited, she is definitely interested, but needs time to determine her travel schedule, will let us know by November 1.

[2016-09-10 12:50] ultimike commented on #43
I'll email Don and ask him to chime in on this issue.

Knowing what is going on with the DA (belt-tightening), I'd prefer to stay with CFCS, but Don will have to let us know if that's still feasible.

-mike

[2016-09-10 13:11] ultimike opened #46 "Update EventBrite integration"
Alex,

In talking with Jay and Mike H, it sounds like we need to update the EventBrite to work with the new EventBrite API.

We're looking to launch the FLDC D7 site in the very near future, so if updating the D7 module is an easy task, let's go ahead and do that first. Jay Epstein is working on a D8 version of the site, that we're planning on switching over to as soon as its ready.

If updating t

[2016-09-10 13:14] ultimike opened #47 "Migrate issues from 2016 case tracker"
We need to move relevant issues from https://www.drupal.org/project/issues/fldc to this project.

-mike

[2016-09-11 00:46] caelon commented on #43
I will check with Betty Ann, CFCS Treasurer. Last I knew, they were a bit more stable than six months ago. I think we'll be fine with CFCS but will need to just know that there's an open risk they could fold. That shouldn't affect our cash (they wouldn't be closing for financial reasons - they have plenty of cash - but rather lack of members) but we'd have to scramble for the 501c3 classification

[2016-09-11 01:16] mherchel commented on #43
@caelon thanks. Is the only benefit of the non-profit designation that we get tax-breaks on tshirts, catering, etc?

[2016-09-11 02:44] mherchel commented on #46
Closed in favor of https://github.com/florida-drupalcamp/fldc-d7/issues/1

[2016-09-11 02:44] #46 closed

[2016-09-11 02:45] mherchel commented on #45
Closed in favor of https://github.com/florida-drupalcamp/fldc-d7/issues/2

[2016-09-11 02:45] #45 closed

[2016-09-11 02:45] mherchel commented on #39
Closed in favor of https://github.com/florida-drupalcamp/fldc-d7/issues/3

[2016-09-11 02:45] #39 closed

[2016-09-12 13:30] mherchel opened #48 "What's the overall schedule for the camp?"
We talked about moving things around after last year.

Friday:
* Trainings
* Code Sprint

Saturday
* Sessions
* Two Featured Speakers

Sunday
* Sessions
* One Featured Speaker
* Code Sprint

Is this right??

@ultimike

[2016-09-12 13:31] mherchel commented on #48
Where is the OS Training stuff going to fit in?

[2016-09-12 13:31] mherchel opened #49 "Reach out to OS Training"
Check w Steve from OS Training to see if they're in.

[2016-09-12 14:02] mherchel commented on #38
email sent to Linda Hoffman from Comfort Suites

[2016-09-12 18:51] ultimike commented on #48
Yes, what you have is what we talked about - just some details are missing...

Friday:
* Trainings (including the free beginner track, pending OSTraining agreeing)
* Code Sprint

Saturday
* Sessions
* Two Featured Speakers

Sunday
* Sessions (half-day)
* One Featured Speaker
* Code Sprint

[2016-09-12 18:56] ultimike opened #50 "Need to find female Code of Conduct contact for the event"
I'm happy to be available for Code of Conduct issues during the event, but we should also have a female contact as well (and post it on /community/code-conduct).

-mike

[2016-09-12 19:23] mherchel commented on #48
I like putting OS Training in on Friday, then the users can participate at the camp on Saturday. But, do you think we'll still have a decent turnout on Friday? I think we can.

[2016-09-12 20:49] ultimike commented on #48
I think it will be a smaller turnout, but it's a necessary change. I think
the benefit of having them participate in the rest of the camp over the
weekend is huge.

-mike

On Mon, Sep 12, 2016 at 3:23 PM, Michael Herchel <notifications@github.com>
wrote:

[2016-09-14 19:01] ultimike commented on #50
This is done - Linda Cook as agreed to help out here. I've updated http://stage.fldrupal.camp/community/code-conduct

-mike

[2016-09-14 19:01] #50 closed

[2016-09-17 19:06] ultimike opened #51 "Invitation letter for foreign visitors"
We've already had a request for an "invitation letter" for a visitor interesting in attending our camp, but in need of a visa to do so. In situations like these, sometimes the visitor needs an official invitation letter from the event organizers in order to secure the visa.

I've contact the Drupal Association about this for their advice, and they've provided a letter which I (slightly) customized

[2016-09-17 19:09] ultimike commented on #51
Mike H - I've responded to Lucía Abaca asking for some additional information.

thanks,
-mike

[2016-10-01 11:20] mherchel commented on #49
Any update on if they're down for doing this on Friday?

[2016-10-01 11:21] mherchel commented on #43
We're now officially accepting registrations. Can we confirm that we'll be using CFCS?

[2016-10-01 11:22] mherchel commented on #42
Third speaker is confirmed. @ultimike let us know when speaker #2 is confirmed.

[2016-10-01 11:25] mherchel commented on #48
@ultimike Just to confirm, we've verified that Friday is okay with FTC?

[2016-10-01 11:26] mherchel commented on #38
We're almost done on this. Linda sent the info, and now just needs to send the confirmation.

[2016-10-01 12:47] mherchel commented on #41
Initial email sent to Pantheon

[code]

[2016-10-01 12:54] mherchel opened #52 "Badges"
Badges

[2016-10-01 12:54] mherchel opened #53 "Catering"
We need a new owner on this

[2016-10-01 12:55] mherchel opened #54 "Tshirt Design"

[2016-10-01 12:55] mherchel opened #55 "Order Tshirts"
dependent on #54

[2016-10-01 12:55] mherchel opened #56 "Bags"

[2016-10-01 12:57] mherchel opened #57 "Free Swag (books, stickers)"
Reach out to DA for
- [ ] Stickers
- [ ] Other swag

Reach out to publishers for books
- [ ] Oreilly
- [ ] Apress
- [ ] Packt
- [ ] Others
- [ ] Drupal Watchdog (Linux Foundation owns this?)

[2016-10-01 12:58] mherchel commented on #47
Done.

[2016-10-01 12:58] #47 closed

[2016-10-01 13:10] mherchel opened #58 "Sponsors"
Let's get some sponsors. I know Lullabot committed to a bronze. I'll throw them up on the site. Note all previous sponsors are just unpublished - so you can just adjust their sponsorship level and publish them when necessary.

[2016-10-01 15:47] ultimike commented on #48
Yep.

-mike

On Sat, Oct 1, 2016 at 12:25 PM, Michael Herchel <notifications@github.com>
wrote:

[2016-10-01 21:58] mherchel commented on #44
@JCL324 Are you able to throw up the archived site? If not, let me know and I can handle it (but I think you still control the DNS)

[2016-10-01 22:30] JCL324 commented on #44
Yes, it's on my to-do list.

[2016-10-02 14:04] mherchel commented on #54
Last year's AI file is at https://www.dropbox.com/s/880c5rimnkm1nnh/drupalDiverColor5.ai?dl=0

[2016-10-03 12:28] mherchel opened #59 "Food on Friday"
We'll need to feed the beginner's track on Friday. This will eat into our budget. FYI

@ultimike

[2016-10-03 20:51] ultimike commented on #49
I just emailed Steve Burge to confirm.

thanks,
-mike

On Sat, Oct 1, 2016 at 12:20 PM, Michael Herchel <notifications@github.com>
wrote:

[2016-10-03 21:35] ultimike commented on #58
Ok - the first round of sponsorship emails just went out.

@mherchel In the next newsletter, will you put out a call for sponsors?

thanks,
-mike

[2016-10-03 21:38] ultimike opened #60 "Friday (free) Trainings"
Steve from OSTraining is committed for the beginner track.

I'm most likely going to do a "Introduction to Drupal Developer Workflows and Best Practices" training.

I've also asked several other folks (Jay Epstein, Commerce Guys, and FFW) if they're interested.

Once we have the trainings locked down, we'll need to update the registration page to allow folks to reserve a spot.

-mike

[2016-10-03 21:39] ultimike commented on #59
Yeah, we'll have to see how the budget goes. I told Steve Burge to count on a 1.5 hour lunch on Friday in case we need to call it a "lunch on your own" thing.

-mike

[2016-10-03 21:40] ultimike commented on #49
Steve is confirmed.

[2016-10-04 11:43] mherchel commented on #38
Done and website updated!

[2016-10-04 11:43] #38 closed

[2016-10-04 11:45] mherchel commented on #59
At GNV Barcamp we ended up buying lunch from publix. We got platters of sandwiches and it turned out really well for a small amount of money. I'm guessing something like that would cost $200 for 40 people. It's a cheap option if we can afford it.

[2016-10-04 11:47] mherchel commented on #48
I also want to do lightning talks. Maybe the last hour of Saturday, we can budget some time to do impromptu lightning talks. I have several that I can give. I also talked to Connerton, who has several.

[2016-10-04 12:10] ultimike commented on #49
Re-opening issue. Steve may not be able to make the camp after all - he'll let me know for sure in a few days.

[2016-10-04 17:38] ultimike commented on #59
Yep - makes sense.

-mike

On Tue, Oct 4, 2016 at 12:45 PM, Michael Herchel <notifications@github.com>
wrote:

[2016-10-12 12:33] mherchel commented on #49
Any update on Steve for Friday?

[2016-10-12 12:33] mherchel commented on #42
@ultimike confirmation on speaker #2 yet?

[2016-10-12 15:24] ultimike commented on #42
I just pinged her - I'll let you know as soon as I know.

thanks,
-mike

On Wed, Oct 12, 2016 at 8:33 AM, Michael Herchel <notifications@github.com>
wrote:

[2016-10-12 15:25] ultimike commented on #49
I just pinged Steve to confirm - I'll let you know as soon as I know.

I also sent emails to Ray from FFW and Suzanne from Evolving Web asking if
they were interested in doing trainings on Friday.

In addition, I'm probably going to do one as well.

-mike

On Wed, Oct 12, 2016 at 8:33 AM, Michael Herchel <notifications@github.com>
wrote:

[2016-10-12 15:57] ultimike commented on #60
Steve from OSTraining can no longer do the beginner track. I'll take this task on and get all the trainings figured out.

thanks,
-mike

[2016-10-12 15:57] ultimike commented on #49
Steve can't do it - closing this issue in lieu of https://github.com/florida-drupalcamp/fldc-issues/issues/60

-mike

[2016-10-12 15:57] #49 closed

[2016-10-12 18:01] mherchel commented on #60
@ultimike when you say you'll take on this task, does that mean you'll be _doing_ the trainings, or that you'll be _coordinating_ the trainings

[2016-10-12 20:50] ultimike commented on #60
Both  :)

-mike

On Wed, Oct 12, 2016 at 2:01 PM, Michael Herchel <notifications@github.com>
wrote:

[2016-10-12 21:01] ultimike commented on #53
I spoke with Andrew Riley - he's going to take this one over. I'm about to send an intro email for him and Rick Esser to have a smooth transition.

[2016-10-12 21:05] ultimike commented on #53
@mherchel Please add "andrewriley" to this project and assign him to this task.

thanks,
-mike

[2016-10-12 21:06] andrewmriley commented on #53
Did someone say my names 3 times?

[2016-10-12 21:06] Ky1e opened #61 "Session Recordings"
Looking into http://bluedropshop.com/blog/drupal-camp-session-recordings-year-review

[2016-10-12 21:07] ultimike opened #62 "Session Recording"
Kyle (GitHub username: ky1e - @mherchel, please add him) will contact http://bluedropshop.com/blog/drupal-camp-session-recordings-year-review about coming down to our camp.

thanks,
-mike

[2016-10-12 21:07] ultimike commented on #62
Duplicate of https://github.com/florida-drupalcamp/fldc-issues/issues/61

[2016-10-12 21:07] #62 closed

[2016-10-12 21:36] mherchel commented on #53
![image](https://cloud.githubusercontent.com/assets/1605905/19328591/661d8efa-90a2-11e6-9f60-94ecdf03cf02.png)

[2016-10-12 21:40] andrewmriley commented on #53
the podcast host with the most?

[2016-10-12 22:31] Ky1e commented on #54
Our in house designer is working this.

[2016-10-13 01:43] ultimike commented on #53
Wow. This is awesome.

On Wednesday, October 12, 2016, Michael Herchel <notifications@github.com>
wrote:

[2016-10-13 12:30] ultimike commented on #42
Speaker #2 is now confirmed. She asked me what topics she should speak on.

I'm thinking we should have her present a single-length session right after the opening. Perhaps a bit of a tour-de-force of what the DA does, how it is organized, their current focus, and a summary of things they've done lately.

It would be interesting to hear about the challenges that they've been having making the tran

[2016-10-13 15:23] mherchel commented on #43
@caelon Did you ever get a reply from the CFCS treasurer

[2016-10-13 17:23] caelon commented on #43
Yeah, answer hasn't really changed. We can move forward with staying where we are at the moment with the knowledge that it's a group that is struggling with membership. That shouldn't affect us beyond what we can manage.

[2016-10-13 17:50] mherchel commented on #43
Cool. Let's close this out then. We'll stay with CFCS, and go from there. Thanks Don!

cc @ultimike

[2016-10-13 17:50] #43 closed

[2016-10-16 01:33] mherchel commented on #48
FYI, I created an overall schedule page. https://www.fldrupal.camp/overall-schedule

Closing this issue out.

[2016-10-16 01:33] #48 closed

[2016-10-16 15:16] ultimike commented on #60
Suzanne from Evolving Web will be offering a Theming workshop.

[2016-10-16 19:28] mherchel commented on #60
Are the extra trainings going to be free?

[2016-10-17 01:22] JCL324 commented on #44
2016 archive is up. Also created 2017.fldrupal.camp that redirects. Closing.

[2016-10-17 01:22] #44 closed

[2016-10-20 23:41] Ky1e commented on #61
My only constraint is that I need to be back in Chicago in time for work on Monday, so I'll be constrained to return flights late afternoon Sunday or red-eye Monday morning. There seem to be enough options at the moment for a Sunday return, but in either case airfare is currently $400-500. Hopper predicts that will drop, but I've had mixed results with how much it thinks it will drop. So assuming

[2016-10-24 13:59] andrewmriley commented on #53
@ultimike @mherchel Do we have a projected number of people for this year?

[2016-10-24 16:12] mherchel commented on #53
@andrewmriley plan on 250. We can adjust the numbers a week or so out if there's any deviation.

[2016-10-24 16:40] andrewmriley commented on #53
@mherchel Thanks. One last question. Are we looking at Saturday only for catering?

[2016-10-25 18:25] ultimike commented on #53
Correct. Saturday only.

-mike

On Mon, Oct 24, 2016 at 9:40 AM, Andrew M Riley <notifications@github.com>
wrote:

[2016-10-28 15:47] ultimike commented on #60
Yep, that's the plan.

On Sun, Oct 16, 2016 at 12:28 PM, Michael Herchel <notifications@github.com>
wrote:

[2016-10-28 15:58] ultimike commented on #61
I spoke with Kevin at BADCamp. I told him that we want to make it happen,
but I couldn't give him a definite answer until we see how our sponsorships
shape up.

Based on his email (above) and my conversations with him, this is what I
think it will take to make it happen:

1.  Somewhere around $1k to cover his travel expenses.
2.  Someone to take him to/from the airport as well as to/from the hotel

[2016-11-06 13:23] mherchel opened #63 "Sponsor Email - ZipSprout"
Not sure if this is spam.

[code]

[2016-11-06 13:25] mherchel opened #64 "Sponsorship - Sevaa"
I also met this guy in DCCHA, and he brought it up. He was the platinum sponsorship for DCCHA

[code]

[2016-11-06 13:27] mherchel commented on #51
This guy has been emailing us:

[code]

[2016-11-06 23:37] mherchel opened #65 "Potential Training - Docker"
at Drupalcon Chattanooga, Lisa Ridley said she might be interested in doing an "Intro to Docker" training at FLDC.

@ultimike Are you officially coordinating the training? Do you want to handle this?

https://www.drupal.org/u/lhridley
https://twitter.com/lhridley

[2016-11-06 23:55] JCL324 commented on #65
Yes please! Love to attend this training.

Sent from my iPhone

[2016-11-07 12:23] ultimike commented on #51
This is all set now - I just sent the letter via email.

-mike

[2016-11-07 12:23] #51 closed

[2016-11-07 12:30] ultimike commented on #64
Awesome - I just sent Cameron an email and invoice (I cc'd you).

Closing.

thanks,
-mike

[2016-11-07 12:30] #64 closed

[2016-11-07 12:57] ultimike commented on #65
I've sent Lisa an email via her drupal.org contact form.

thanks,
-mike

[2016-11-07 12:57] ultimike commented on #60
I've invited Lisa Ridley to do a Docker training - no word back yet.

[2016-11-07 15:57] ultimike commented on #65
I heard back from Lisa - she's working on getting it approved by her boss. I'll check in with her next week if I don't hear back.

[2016-11-07 15:57] ultimike commented on #60
Regarding Lisa Ridley - see https://github.com/florida-drupalcamp/fldc-issues/issues/65

[2016-11-07 15:58] ultimike commented on #65
Closing in lieu of https://github.com/florida-drupalcamp/fldc-issues/issues/60

[2016-11-07 15:58] #65 closed

[2016-11-11 00:09] ultimike commented on #63
I responded.

[2016-11-16 16:20] ultimike commented on #60
Enzo (co-maintainer of Drupal Console) is interested in doing a training as well, but is asking for help paying for travel expenses. @mherchel How much would three nights in the hotel cost us? About $400, right?

[2016-11-16 16:44] mherchel commented on #60
Yep, three nights should come to $388.13 https://www.fldrupal.camp/lodging

[2016-12-18 20:01] Ky1e commented on #61
How we looking @ultimike?

[2016-12-19 15:07] ultimike commented on #61
Not bad. You?

Heh.

I haven't had too much time to do anything other than followup with some
sponsors and potential trainers. I'll have some time over the holidays to
get my tasks moving again...

thanks,
-mike

On Sun, Dec 18, 2016 at 3:01 PM, Kyle <notifications@github.com> wrote:

[2016-12-19 22:16] Ky1e commented on #61
I'd say roughly 6/10. Not a grenade but still a respectable number. Let me know if you need assistance with anything.

[2016-12-20 14:41] mahannay commented on #63
I'm the CEO of ZipSprout. We're not spam :). We find local sponsorship opportunities at scale for our clients (businesses). To do this, we reach out to local organizations across the US to find out how to sponsor them, then select opportunities that fit our clients' budget and brand. We don't charge local organizations or nonprofits. We charge our clients - the businesses - per opportunity we secu

[2016-12-26 13:21] mherchel opened #66 "Add Thurs night onto hotel deal"
https://twitter.com/MarcDrummond/status/811045745226813440

[2016-12-26 13:22] mherchel opened #67 "Figure out registration process for Trainings"
Need to get a tally of trainings...

[2016-12-26 13:23] mherchel commented on #58
@ultimike How we looking sponsorship-wise?

[2016-12-26 13:24] #42 closed

[2016-12-26 13:24] mherchel commented on #54
@Ky1e any status update?

[2016-12-26 13:25] mherchel commented on #60
@ultimike Did Enzo confirm with us?

[2016-12-29 14:27] ultimike commented on #60
Here's a list of the trainings:

React: John Tucker
DrupalVM: Ben Hosmer
Intro to Drupal: Mike Anello
Drupal 8 Theming: Suzanne Kennedy Dergacheva
Drupal 8 development with Console: Enzo (not yet confirmed)
Docker: Lisa Ridley

I'll go ahead and create a content type and a view for the training descriptions on the site, Mike Herchel will get things set up in EventBrite.

[2016-12-29 15:38] ultimike commented on #67
@mherchel Are we good here?

[2016-12-29 20:43] ultimike commented on #63
Megan - can we set up a time to talk so that I can get a better understanding of what you're offering?

thanks,
-mike

[2016-12-30 15:19] ultimike commented on #61
@Ky1e Let's proceed with the session videos. Will you contact Kevin to get the ball rolling?

thanks,
-mike

[2016-12-30 15:20] #67 closed

[2016-12-30 15:21] ultimike commented on #59
Let's keep this in the "play it by ear" category. If we can find someone to help out with it, then we can spend the $$$ to make it happen. I can't do it because I'll be teaching...

-mike

[2016-12-30 15:23] ultimike commented on #58
We currently have $7,750 in committed sponsorships, I'll be making another push after the new year.

For the budget, with our estimates for attendance, if we don't get any additional sponsors, we'll have a shortfall of about $2k, which will be (easily) covered by our nest egg.

[2016-12-30 15:25] ultimike commented on #56
I'll do a count of what we have left-over from previous years, and order new bags based on that number.

[2016-12-30 15:26] ultimike commented on #55
Natalie will be handling the ordering and delivery of t-shirts.

[2016-12-30 15:28] ultimike opened #68 "Sunday food"
We need someone to help manage the food for Sunday. Tasks include:

1.  Buying drinks, donuts, and bagels and having them at the venue first thing (you will obviously be reimbursed).
2.  Managing leftovers from Saturday.

[2016-12-30 15:33] ultimike opened #69 "Volunteers get a free (comp'd) ticket"
Are you helping out with FLDC2017? If so, you get a free ticket to the event!

If you haven't already registered, just ask @mherchel or @ultimike for the coupon code. If you have already registered, we can't (won't) refund your money, but you're eligible for a great big hug from @mherchel.

thanks,
-mike

[2016-12-30 15:34] ultimike opened #70 "Swag to purchase"
Cielo - still interested in doing this?

We'd like little stickers. I'm talking thumbnail size - we think they'd be cool.

@JCL324 How are the sock puppets coming along?

thanks,
-mike

[2016-12-30 15:36] ultimike opened #71 "Indoor signage"
@mherchel has the master plan for this in his head. Steven Williams will assist.

thanks,
-mike

[2016-12-30 15:46] StevenGFX commented on #71
Will be glad to help! :sunglasses:

[2016-12-30 15:53] ultimike opened #72 "Major Issue Triage Sprint?"
xjm suggested that we do a major issue triage sprint at FLDC (see http://xjmdrupal.org/blog/drupal-8-major-triage-new-orleans and https://www.drupal.org/node/2474049).

We're thinking we could do this on Sunday.

In order to make this happen, we need some sprint leads. Perhaps:

Ted Bowman
Adam Bergstein (confirmed)
Marc Drummond
Matthew Connerton
Others?

-mike

[2016-12-30 15:57] C13L0 commented on #70
Yes I will go this

[2016-12-30 19:41] Ky1e commented on #52
I can handle the printing.

[2016-12-30 19:47] Ky1e commented on #61
@ultimike Will do.

[2016-12-30 20:06] Ky1e commented on #68
I'll take care of this w/ my team. We're playing it by ear based on Saturday.

[2016-12-30 20:09] Ky1e commented on #69
If we got individual sponsorships can we get a great big hug from @ultimike?

[2016-12-30 20:21] ultimike opened #73 "Getting the word out"
As awesome and Mike Herchel thinks he is, we need some additional help getting the word out about Florida DrupalCamp 2017 - especially to non-Drupal web development user groups.

Who can help?

thanks,
-mike

[2016-12-30 20:24] ultimike commented on #69
Maybe for two individual sponsorships...

On Fri, Dec 30, 2016 at 3:09 PM, Kyle <notifications@github.com> wrote:

[2016-12-30 20:27] Ky1e commented on #73
There is a ton of local dev groups with 20-50 members each on meetup.com. I attend 4 or 5 that meet regularly that I can mention the camp in. Not sure what effect that'll have. I do a LOT of volunteer work for http://www.doporlando.com/ which is a networking organization on steroids. I can make an intro if we're looking for more sponsors. Most of this is all local to Orlando though. :)

[2016-12-30 20:39] ultimike commented on #73
Kyle,

Any/all of that would be great.

We're always looking for more sponsors, so if you want to make an intro,
I'm all ears. Whomever you approach or tell about the camp, please document
in this issue so we have as little overlap as possible.

thanks,
-mike

On Fri, Dec 30, 2016 at 3:27 PM, Kyle <notifications@github.com> wrote:

[2016-12-30 20:49] Ky1e commented on #69
Deal
![image](https://cloud.githubusercontent.com/assets/9222546/21572499/83b9edee-cea7-11e6-92d1-7819d58a739d.png)

[2016-12-31 04:17] Ky1e commented on #61
Sounds good Kyle. I'm still in. I'll book hotel and airline soon. If you are using the D/A, what is your camp code for reimbursements? -Kevin

@ultimike

[2016-12-31 14:32] ultimike commented on #61
Kevin,

We're not using the DA for $$$. Just shoot me an email with receipts and
we'll get you reimbursed pretty quickly.

Looking forward to it!

thanks,
-mike

On Fri, Dec 30, 2016 at 11:17 PM, Kyle <notifications@github.com> wrote:

[2016-12-31 14:44] ultimike opened #74 "Sponsor Happiness - day(s) of event"
During the event, we're going to need a couple of volunteers to visit each of the sponsors at their tables (or where ever they might be) to ensure they have everything they need and (more importantly) let them know how much we appreciated their involvement.

Things we can offer include:

1.  Make introductions with attendees.
2.  Escort sponsors to the front of the lunch line (this is a new, unadv

[2016-12-31 14:46] ultimike opened #75 "Registration"
We love Caroline and Karan. Do what they say.

I'd like for us to have two different color lanyards this year - one for folks who don't mind being in pictures, one for folks that don't want to be in pictures. We probably only need 10-20 of the latter, so let's make that happen.

-mike

[2016-12-31 14:56] ultimike commented on #71
I have some notes from some Drupal event presentation/BoF I was at - one note I had is that "good signage helps people feel comfortable". I think it was specifically referring to clear venue maps to help people feel oriented.

Just something to consider.

thanks,
-mike

[2016-12-31 15:01] ultimike commented on #70
@C13L0 I did a quick count of what we have leftover from last year:

- 7 leather business card books
- 60-ish Luggage tags
- 5 screen wipes
- 40-ish Stickers

Photo attached.

![img_5104](https://cloud.githubusercontent.com/assets/1727889/21578056/11a940a8-cf40-11e6-888d-5f1ba6472909.JPG)

[2016-12-31 15:02] ultimike opened #76 "AV Wrangler"
For the past few years, the totally awesome Linda Cook has been handling this - hopefully, she'll do it again...

I did a count of what we have on-hand:

- 4 HDMI cables
- 1 DVI cable

![image](https://cloud.githubusercontent.com/assets/1727889/21578061/4bc09a5c-cf40-11e6-9fae-56393d399f3b.jpeg)

[2016-12-31 15:10] ultimike commented on #56
We have 47 grey bags from last year.

I'm thinking that we should order 200 of these: https://www.holdenbags.com/products/little-tex-grocery-bag

To mix things up a bit, how about we get yellow bags with blue print (the Florida Drupal Diver with no text - same as last year)?

-mike

[2016-12-31 15:13] ultimike opened #77 "Genius Bar"
@mherchel had the idea for a "Genius bar". An area - possibly in the sponsor hall to help drive traffic - where folks can go to ask questions about their Drupal project.

To make this happen, we'll need someone to volunteer to be in charge of this. This person would be responsible for scheduling other volunteers at the table (maybe 2 per shift) and getting things setup and torn down each day.

Vol

[2016-12-31 15:32] mherchel commented on #72
Marc Drummond cannot do it (he's leaving Sunday morning).

[2016-12-31 22:10] mherchel commented on #77
Yeah, this idea is taken from WordCamps, where it's a thing.

[2016-12-31 22:56] Ky1e commented on #77
I participated in the one at WordCamp Orlando. It was a lot of fun and you meet a lot of cool people. It was broken up into three sections so we had one corner for design, site building, and plugin development.  Easier for people to pop in and out.

[2017-01-01 17:50] iribarne commented on #73
Mike and Kyle,

I began spreading the word in South Florida. I created an event on meetup (https://www.meetup.com/South-Florida-Drupal/events/236586652/) and on Facebook as well (https://www.facebook.com/events/719074344924494/). I also contacted Adam Culp, organizer of South Florida PHP and Sunshine PHP Conference, and he told me that he would help spread the word. Boca JS meets up in two days (h

[2017-01-02 16:35] ultimike opened #78 "Social Media Wrangler"
The social media wrangler will post various information on our social media account in the time leading up to the camp. In addition, after the camp, we'll need to send out posts thanking attendees, speaker, trainers, and sponsors.

Ideally, we’d like 1-2 posts per day on each of the following:

https://twitter.com/fldrupalcamp
https://www.facebook.com/groups/43405081389/
https://www.linkedin.com/g

[2017-01-02 17:13] ultimike commented on #57
@mherchel You have some contacts for book publishers, correct? I have some as well, but I think yours are more recent.

[2017-01-02 17:14] kurthiggins commented on #57
I'll volunteer for contacting publishers for books.

[2017-01-02 18:51] gscampbell64 commented on #78
I am happy to continue to be town crier for this year.  I do suggest it be more than one person so the posts have a little variety.  Also, is #fldc17 the hashtag for this year?

[2017-01-03 17:03] Ky1e commented on #41
@mherchel I hit up Ben and he's gonna prod Atoosa.

[2017-01-03 18:06] mherchel commented on #66
Done ```Mike,

I added Thursday, February 16 to the block.  Anybody with an existing reservation that needs to add that night will have to call and change the reservation.

You have a total of 11 rooms booked.      Happy New Year!

Kindest Regards,
Linda L Hoffman
Director of Sales Orlando- PRM Hotels Inc
LHoffman@PRMHotels.com
407.745.4988 direct line```

[2017-01-03 18:07] mherchel commented on #41
Looks like it's not happening :(

[2017-01-03 18:07] #41 closed

[2017-01-03 18:07] #66 closed

[2017-01-03 19:37] lscook commented on #76
Lol. Ok, sign me up.

[2017-01-04 20:30] carolineachee commented on #75
Thanks @ultimike !

[2017-01-04 21:11] carolineachee commented on #75
Mike,

Can you get me a list of the people associated with the corporate sponsors? I am working on setting the ribbons... @ultimike

Thanks,
Caroline

[2017-01-04 22:49] ultimike commented on #73
I've submitted the event to http://orlandotech.org/events/ and http://techevents.us/orlando/

[2017-01-04 23:29] alexdmccabe commented on #73
I submitted the event to https://opensource.com/resources/conferences-and-events-monthly?month=2017-02. It needs approval, so it hasn't shown up yet.

I also listed it on the Orlando Drupal group on meetup.com: https://www.meetup.com/Orlando-Drupal/events/236681208/

[2017-01-05 01:28] mherchel opened #79 "Custom Meal Requirements"
[code]

[2017-01-05 13:49] ultimike commented on #73
Here's a Google Doc with some text for marketing the camp: https://docs.google.com/document/d/1T1Ww5DYPJAtU7Os0aOMFJ9oAOVlRAeW5iqGIBEF-qQU/edit

[2017-01-05 15:41] ultimike commented on #53
Andrew - see https://github.com/florida-drupalcamp/fldc-issues/issues/79

Also - please assign this issue to yourself.

thanks,
-mike

[2017-01-05 15:42] ultimike commented on #79
Moved to https://github.com/florida-drupalcamp/fldc-issues/issues/53

[2017-01-05 15:42] #79 closed

[2017-01-05 15:47] carolineachee commented on #75
Mike and Mike,

The t-shirt size did not get pull from the registration record... So we have no size data. Can someone do a one shot and get the info from the Eventbright data??

Thanks,
Caroline

[2017-01-05 15:49] ultimike commented on #75
Caroline - I've attached a .csv export of attendees with names, emails, job titles, and discounts. The "discounts" column shows the coupon code that was used - if any. That can be used to match up an attendee with a sponsor.

There may be attendees associated with sponsors that didn't use a coupon code - in that case, your guess is as good as mine.

I'm happy to regenerate this report at any time.

[2017-01-05 15:51] ultimike commented on #75
Caroline - and here is a .csv with the t-shirt sizes...

thanks,
-mike

[report-2017-01-05T1050.csv.zip](https://github.com/florida-drupalcamp/fldc-issues/files/687645/report-2017-01-05T1050.csv.zip)

[2017-01-06 13:41] andrewmriley commented on #53
I'll inquire about gluten-free but I realized I never posted the vegetarian options:

[2017-01-06 13:44] andrewmriley commented on #53
@ultimike @mherchel When do we normally give the headcount to Gringos? We'll need that for the deposit. My contact at gringos said "a few weeks before the event" but I was wondering if we knew anything on our end.

[2017-01-06 13:53] mherchel commented on #53
yeah, we'll have a better idea. My guess is that we'll have exactly 264.867 attendees.

[2017-01-06 13:59] ultimike commented on #53
Andrew,

I've attached a .csv of all orders, including the "meal preference" field - that should give a good idea of vegetarian, etc...

As for a total count estimate - @mherchel has somewhat of a historical record that he can compare our current sales with. Therefore, if he says 264.867, then that's probably the best number we have.

-mike

[report-2017-01-06T0859.csv.zip](https://github.com/flor

[2017-01-06 14:15] Ky1e commented on #54
![img_0380](https://cloud.githubusercontent.com/assets/9222546/21720351/9729dfb2-d3f0-11e6-9387-5e3e3b736971.PNG)

[2017-01-06 14:16] mherchel commented on #54
whoa that's fucking awesome! It doesn't have the diver (which is fine by me, but others might have issues).

Holy shit that's awesome!

[2017-01-06 14:20] ultimike commented on #54
That's a pretty sweet design! I do like the Diver, but I'm just one voice.

I'm cool with this if everyone else is.

[2017-01-06 14:43] Ky1e commented on #54
I like the diver too but I figured we give it a break and then do a badass refresh next year if everyone's cool with it. We got a few more coming.

[2017-01-06 15:09] alexdmccabe commented on #54
I do like this design, but I like the diver too, it's a very unique and cool looking logo that represents Drupal Florida.

I'm not gonna dig my heels in and kick and scream if everyone like the shirt, but it feels odd to think that our logo wouldn't be on our shirt.

[2017-01-06 15:47] Ky1e commented on #54
He's working on diver refresh.

[2017-01-06 16:19] Ky1e commented on #54
![img_0381](https://cloud.githubusercontent.com/assets/9222546/21724349/05e188e0-d402-11e6-8a9d-14cb05d05343.PNG)

[2017-01-06 16:20] Ky1e commented on #54
This is a stylized version of last years with a Florida twist.

[2017-01-06 16:20] ultimike commented on #54
Wow - they're both really good. Such clean design!

-mike

On Fri, Jan 6, 2017 at 11:19 AM, Kyle <notifications@github.com> wrote:

[2017-01-06 16:31] mherchel commented on #54
oooooo

[2017-01-06 16:36] alexdmccabe commented on #54
Wow, the diver design looks great! I vote for that between the two.

[2017-01-06 16:37] mherchel commented on #54
yeah, it's a great compromise!

[2017-01-06 18:45] gscampbell64 commented on #54
I love the latest design.  My only thought is what color t-shirt is going on?  From a person that loves color these would be very flat if on a blue shirt.  Last year we had a black shirt that this would do very well on.  Otherwise I love staying with the Drupal Diver and love this design.

[2017-01-06 19:16] Ky1e commented on #54
Navy blue t shirts

[2017-01-06 20:15] lscook commented on #54
Great designs! I'm happy with either. You might incorporate the flamingo
design in the diver mask... I do love flamingoes.
I vote for pink shirts George ;)

On Fri, Jan 6, 2017 at 2:16 PM, Kyle <notifications@github.com> wrote:

--
*Linda Cook*
*321-720-4461*

[2017-01-06 20:35] mherchel commented on #54
I like Navy blue

[2017-01-06 20:36] mherchel commented on #54
Any other thoughts on this before we finalize?

Also, thoughts on using that for the twitter avatar, etc?

[2017-01-06 20:44] ultimike commented on #54
I like it.

-mike

On Fri, Jan 6, 2017 at 3:36 PM, Michael Herchel <notifications@github.com>
wrote:

[2017-01-06 22:43] Ky1e commented on #54
Ai files - https://www.dropbox.com/sh/tjeqyl0ndela3kh/AADYk344SCVlfRgcA0kvqWspa?dl=0

[2017-01-06 23:25] mherchel commented on #54
@Ky1e who is the person who did the design (so we can attribute them)? Do they have a twitter handle?

[2017-01-06 23:52] gscampbell64 commented on #54
I think it will look good on Navy Blue.  Great work!  And lscook - I would wear a pink shirt any day!

[2017-01-07 00:12] Ky1e commented on #54
@mherchel he uses instagram like a true hipster. 😁

https://www.instagram.com/sleds/

[2017-01-07 00:12] mherchel commented on #70
I'd like to get the small stickers with the new design!

![image](https://cloud.githubusercontent.com/assets/1605905/21737129/20dd2d88-d444-11e6-83c6-9c322eb7dc18.png)

[2017-01-07 00:13] mherchel commented on #70
but just the diver - die cut

THoughts?

[2017-01-07 01:50] mherchel commented on #54
@Ky1e haha. Definitely. Does he want any recognition? If so, how?

[2017-01-07 02:47] Ky1e commented on #54
Chocolates, roses, hero article on front page, meeting with President-Elect Trump to receive the Medal of Freedom, I mean nothing too big.

[2017-01-07 03:02] mherchel commented on #54
yeah, but what i'm saying is we can't give him credit without knowing his name or anything else.

[2017-01-09 14:12] Ky1e commented on #61
Traveler 1: Adult $403.40
Flight: $348.83
Taxes and Fees: $54.57
Flight Total: $403.40

Summary of cost. Got the email, I'll forward when I get to the office.

[2017-01-09 14:32] ultimike commented on #61
Ask him to keep his receipts - we'll reimburse.

thanks,
-mike

On Mon, Jan 9, 2017 at 9:12 AM, Kyle <notifications@github.com> wrote:

[2017-01-09 14:48] mherchel opened #80 "Session Scheduling Requests"
This issue is to log all requests that come from speakers on which day they want to speak.

[2017-01-09 14:49] mherchel commented on #80
Kelly from Last Call Media wants all his sessions on Saturday
Cottser from Digital Echinada also wants both is sessions on Sat

[2017-01-09 17:54] carolineachee commented on #75
Mike!

Thanks
Caroline

[2017-01-09 18:14] sledss commented on #54
Hey Team!
Glad you like the design. Thanks for enquiring. I sure would appreciate the exposure to the tech community. My Name is Schiani Ledo, and my main social platforms are Instagram & Dribbble.
https://www.instagram.com/sleds/
https://dribbble.com/sledo

[2017-01-10 21:53] ultimike opened #81 "Sponsor text ads in newsletters"
As part of some higher-level sponsorships, sponsors can request text ads in newsletters.

Let's use this case to keep track of them.

[2017-01-10 21:55] ultimike commented on #81
@mherchel Digital Echidna, a Gold sponsor, gets 3 text ads in upcoming newsletters. Schedule at your convenience. Here is the ad for all 3 occurrences:

Digital Echidna has over 15 years experience developing enterprise scale web-based solutions.  Since 2009, Digital Echidna has built exclusively on the Drupal CMS.  We enjoy giving back to the Drupal community and we look forward to meeting, and l

[2017-01-10 22:06] mherchel commented on #81
Sounds good. We're still leaving Achieve in the footer as the platinum, right?

[2017-01-10 22:07] ultimike commented on #81
Yep.

On Tue, Jan 10, 2017 at 5:06 PM, Michael Herchel <notifications@github.com>
wrote:

[2017-01-10 23:01] ultimike commented on #60
Current registrant counts:

React: John Tucker - 6
DrupalVM: Ben Hosmer - 0
Intro to Drupal: Mike Anello - 12
Drupal 8 Theming: Suzanne Kennedy Dergacheva - 11
Docker: Lisa Ridley - 3

[2017-01-11 14:56] mherchel commented on #81
Just sent out the first today.

[2017-01-11 15:15] roberts365 commented on #55
When do the T-Shirts need to be delivered?

[2017-01-11 15:16] mherchel commented on #55
@roberts365 Let's call it one week before the camp. So February 10th.

[2017-01-11 18:26] roberts365 commented on #55
For a 50/50 cotton polyester blend Navy Blue shirts with four colors.  We are looking at a set up fee of $140.00 (4 screens at $35.00, one time fee. Any future prints with this art would be the cost of the garment and printing only.)  They are willing to take $40 dollars off to make it $100.

For 72-143 shirts:
                    $6.90 each S-XL
                    $8.90 each 2XL

[2017-01-11 18:43] Ky1e commented on #55
We're thinking 3 colors with the navy blue in the logo being a part of the shirt to eliminate the need for an extra color and keep costs a bit lower. Thoughts?

![screen shot 2017-01-06 at 11 17 52 am](https://cloud.githubusercontent.com/assets/9222546/21861709/f0996c68-d803-11e6-95d7-62ce16c96057.png)

[2017-01-11 18:51] roberts365 commented on #55
That would only save us $25.  If it looks better with four colors I say it is worth it.

[2017-01-11 19:13] ultimike commented on #55
I agree with @roberts365 - go with 4 colors.

On Wed, Jan 11, 2017 at 1:51 PM, roberts365 <notifications@github.com>
wrote:

[2017-01-11 20:21] carolineachee commented on #75
Mike and Mike,

We need to get Feature Speaker - MEGAN SANICKI - to register so that she will have a name tag! The next thing I will be doing is checking on the other speakers....

Thanks,
Caroline

[2017-01-12 03:05] roberts365 commented on #55
I will go ahead and send the graphics to the printer and secure a slot in their schedule for us.
We should have an invoice with the total once we have all the sizes and the quantity.

[2017-01-12 13:02] ultimike commented on #55
Sounds great - thank you Natalie!

On Wed, Jan 11, 2017 at 10:05 PM, roberts365 <notifications@github.com>
wrote:

[2017-01-12 13:18] ultimike commented on #70
Yep, I'm cool with this.

@C13L0 Let's get some swag going! Assume the same budget as last year.

thanks,
-mike

[2017-01-12 13:37] ultimike commented on #78
@gscampbell64 Do you have everything you need to get going on this? If you could take care of the daily sponsor tweets, that would be great.

I've created a new "2017 Sponsor Tweets" tab on this spreadsheet with some additional information for you: https://docs.google.com/spreadsheets/d/1q4wbQKCXBwFCyr28xHj0OHzElHl1ERbG4hnhR1Cr68U/edit#gid=1896545185

The schedule and content of each tweet is up t

[2017-01-12 14:35] Ky1e commented on #78
There's a few tweet schedulers out there you can use so you can space them out without having to remember to post each one.

https://www.cnet.com/pictures/6-ways-to-schedule-your-tweets/

[2017-01-12 14:55] C13L0 commented on #70
Most swag needs to be ordered 8-10 weeks ahead of time. I will work on this over the weekend to see what I can get in such a short time period. I will also be available all weekend on irc :D

[2017-01-12 15:59] roberts365 commented on #55
Printer secured.  Once we have the numbers, they will start printing.

[2017-01-12 22:09] carolineachee opened #82 "Session Acceptance - Needed item to email"
Please when issuing an acceptance of a session please ask them to register for camp if they are not already registered.

Just a heads up 13 out of the 24 speakers are not yet registered. I know some may not have registered because they are waiting to find out if their topic has been excepted.

The following speakers have not yet registered....
Tyler	Ashbaugh
ADAM	BERGSTEIN
ERICH	BEYRENT
KIRSTEN	BU

[2017-01-14 17:41] ultimike commented on #70
I met some folks at Ryan Price's (@liberatr) wedding who make custom chocolates - they're based in Central Florida and their product is delicious.

I asked them about making some Druplicon-shaped chocolates that we could put out on trays during the Saturday snack break, and their cost is $1,000 for 500 chocolates. It's a bit expensive, but they're really good chocolates and I don't believe I've se

[2017-01-14 17:43] Ky1e commented on #70
It's the perfect icebreaker in my opinion. Although I'm a bit bias because I love chocolate. 😅👌🏼

[2017-01-15 17:22] mherchel commented on #57
I just submitted a form at http://www.oreilly.com/partner/.

@kurthiggins - if you want to do this, here's the info:

* You can get free JetBrains PHPStorm licenses at https://www.jetbrains.com/support/community/#section=communities
* You may be able to get free copies of the Drupal Watchdog magazine at https://www.drupalwatchdog.com. We would get them for free when they were previously owned by T

[2017-01-15 17:45] mherchel commented on #57
Also reach out to BuildaModule.com. I'll reach out to Addi at Drupalize.me.

[2017-01-16 00:16] kurthiggins commented on #57
Thanks, @mherchel!
* I'm already in discussion with Drupal Watchdog and they sounded very interested in helping and donating magazines... waiting to hear back on how many they can provide.
* I contacted 6 publishers (Drupal Watchdog, Wiley/Wrox, Apress, Packt, Pearson, InformIT) last week but have only heard back from Drupal Watchdog so far
* I'll retry Packt with the email you provided (I went th

[2017-01-16 13:09] ultimike commented on #72
xjm emailed me about this over the weekend:

I'm pretty sure Ted Bowman isn't making down to the camp, so he's out.

-mike

[2017-01-16 15:26] kurthiggins commented on #57
Packt has replied with a pledge for 3 ebooks. They're wondering about whether they'd appear as a sponsor... how to you address this?

[2017-01-16 15:46] ultimike commented on #57
Yes, they'd appear as an in-kind sponsor on
https://www.fldrupal.camp/sponsors

Ideally, physical books make better giveaways - would you mind asking if
they would mind sending us some book instead of ebooks?

thanks,
-mike

On Mon, Jan 16, 2017 at 10:26 AM, Kurt Higgins <notifications@github.com>
wrote:

[2017-01-16 19:41] mherchel commented on #57
Heard back from Addi at Drupalize.me. She's going to give us a couple memberships. Don't know the exact details yet.

[2017-01-17 14:00] mherchel commented on #81
Second just went out.

[2017-01-17 14:21] mherchel commented on #57
We have 8 one-month Drupalize.me giveaways. My thought is we can give some away during the Drupal trainings, also.

[2017-01-17 19:54] kurthiggins commented on #57
From Chris at BuildAModule.com:

Hello Kurt!

Of course, below are 5 codes for a free 1-month membership on
BuildAModule. These can be redeemed at https://buildamodule.com/code. If
you had something else in mind, just let me know:

XKEV6HJ
QT23E9N9
AHKSNTXR
72T5GCRR
5AUJV43S

Good luck with the camp! One of these days I hope to make it out there. :)

Cheers!
Chris

[2017-01-17 20:15] kurthiggins commented on #57
JetBrains is offering 3 free licenses to their

[2017-01-17 20:43] kurthiggins commented on #57
@mherchel @ultimike Any preferences for titles from Wiley?

[2017-01-17 20:51] mherchel commented on #57
yay! I'll look at titles for Wiley now. Feel free to post your preferences here too!

[2017-01-17 20:52] mherchel commented on #57
@kurthiggins I'll also add the JetBrains & BuildAModule logos as in-kind sponsors on the site shortly.

[2017-01-17 20:59] mherchel commented on #57
@kurthiggins These three look good to me. Most of their Drupal stuff is pretty old. Cracking Drupal is still good. The others are more generalized, but look good.

* Cracking Drupal - http://www.wiley.com/WileyCDA/WileyTitle/productCd-1118080718.html
* JavaScript: The New Toys - http://www.wiley.com/WileyCDA/WileyTitle/productCd-1119367956.html
* Usable Usability: Simple Steps for Making Stuff Bet

[2017-01-17 21:04] kurthiggins commented on #57
Very good. I'll pass these requests along to Wiley.

Kurt

On Tue, Jan 17, 2017 at 3:59 PM, Michael Herchel <notifications@github.com>
wrote:

[2017-01-17 21:05] mherchel commented on #57
Awesome. Let me know when I should add them to our in-kind sponsors. Feel free to get the books sent to yourself and then bring em to the camp :)

[2017-01-18 14:28] ultimike commented on #72
Ted will lead this if we pay for his plane ticket. We have the $$$ - thoughts?

thanks,
-mike

[2017-01-18 14:34] mherchel commented on #72
I'm down for that. Adam is doing it too. Tell Ted we will trade him a plane ticket for a beer.

[2017-01-18 15:13] ultimike commented on #60
Current registrant counts:

ReactJS: John Tucker - 8
DrupalVM: Ben Hosmer - 0
Intro to Drupal: Mike Anello - 12
Drupal 8 Theming: Suzanne Kennedy Dergacheva - 12
Docker: Lisa Ridley - 4

[2017-01-18 15:20] andrewmriley commented on #53
Gluten free update: Tortillas and queso sauce do contain gluten (everything else does not). Phil will bring some gluten-free corn tortillas so attendees can substitute the tortilla as needed.

[2017-01-18 15:42] lhridley commented on #60
@ultimike Will you be providing the email addresses of those signed up to attend in advance of the training?  I would like to send out some reminder info in advance about some of the pre-requisites and hardware / software requirements so that people show up prepared to dive in.

[2017-01-18 15:46] ultimike commented on #60
Yes, trainers will get contact info for all registrants prior to the event.

On Wed, Jan 18, 2017 at 10:42 AM, Lisa Ridley <notifications@github.com>
wrote:

[2017-01-18 17:02] Ky1e commented on #58
GoDaddy just got back to me and said it's too short of a notice but they'll be happy to sponsor next year. FYI.

[2017-01-18 17:50] ultimike commented on #58
Kyle - shoot me an email with the contact info?

thanks,
-mike

On Wed, Jan 18, 2017 at 12:02 PM, Kyle <notifications@github.com> wrote:

[2017-01-19 01:06] Ky1e commented on #58
Done

[2017-01-19 14:00] ultimike commented on #54
@sledss Any chance I can get a 1-color version of the design for use on the swag bags for the camp? I'm planning on ordering [these bags](https://www.holdenbags.com/products/little-tex-grocery-bag).

thanks,
-mike

[2017-01-19 15:05] mherchel commented on #71
@StevenGFX Any update on the design for http://www.stickersbanners.net/x-banners.html?

[2017-01-20 02:01] mherchel opened #83 "Archive 2012, 2013, and 2014 sites to static html."
2013.fldrupalcamp.org is running Drupal 7.20, which is vulnerable to the Drupalgeddon bug and many others. Looking at the users table, it's been hacked. There are new users despite not having user registration activated:

![image](https://cloud.githubusercontent.com/assets/1605905/22132781/27b36398-de8a-11e6-81b9-ff09295b46b6.png)

All of our registered users registered through the site, which mea

[2017-01-20 02:05] mherchel commented on #83
Same for http://2012.fldrupalcamp.org, which is running 6.20. It's user table is filled with spammers.

[2017-01-20 02:07] mherchel commented on #83
2014 also needs to be archived. It's on 7.24. Doesn't appear to be overtly hacked like the others.

[2017-01-20 02:09] andrewmriley commented on #83
I'll see if I can grab html copies.

[2017-01-20 02:43] JCL324 commented on #83
I have disabled 2012, 2013, 2014 from Apache on my Linode. I have 2014 archive kicking around somewhere, the archive was prepared for on the server.

@andrewmriley, I have a process that works well (did 2016, 2015) using httrack, so much better than wget.

[2017-01-20 16:11] ultimike commented on #60
@mherchel We should probably send out an email letting folks who registered prior to trainings being offered the ability to let us know if they'd like to attend one - we'll have to keep track of that manually (unless we can modify their order on EventBrite).

[2017-01-20 18:45] andrewmriley commented on #83
@JCL324 Sounds good!

[2017-01-21 18:53] ultimike commented on #60
Current registrant counts:

ReactJS: John Tucker - 9
DrupalVM: Ben Hosmer - 1
Intro to Drupal: Mike Anello - 14
Drupal 8 Theming: Suzanne Kennedy Dergacheva - 18
Docker: Lisa Ridley - 4

[2017-01-22 17:52] C13L0 commented on #70
@ultimike Do we have an updated tax exempt certificate?

[2017-01-22 17:56] ultimike commented on #70
Uhhh - sort of. I'll forward the info via email that I have.

thanks,
-mike

On Sun, Jan 22, 2017 at 12:52 PM, C13L0 <notifications@github.com> wrote:

[2017-01-23 16:33] StevenGFX commented on #71
@mherchel Just saw this. I do have a sign. Would like you to look at it so i can finish it up. Content was really all that I had a question with. I can't make the call today but maybe I can get with you sometime this evening!

[2017-01-23 20:12] JCL324 commented on #83
2014 is backup and archived.  @andrewmriley, do you know a away to prevent access to /users from showing the folders without preventing access to users/jcl324? I have a redirect in .htaccess to prevent /user and /node.

[2017-01-23 21:44] mherchel commented on #52
https://www.dropbox.com/sh/g7sjp9n4x63k1tb/AABWmHJuxlSkgeFUOsw19ckWa?dl=0

[2017-01-23 22:15] StevenGFX commented on #71
Here's my draft. Wasn't sure what should be included on it but we can start here. I think a few elements probably need to be tweaked a bit. I tried to make it generic so it can be used with future conferences. I used last years Drupal Diver logo but adjusted the colors to the older Drupal Diver.

[fldc-signage-roll-up_draft-1.pdf](https://github.com/florida-drupalcamp/fldc-issues/files/725088/fldc

[2017-01-24 15:18] mherchel opened #84 "Schedule for 2017"
Google sheet at https://docs.google.com/spreadsheets/d/1OASH6aRzCa_U3xiLT2QRTUbfqmQjrrev1xTQ8ck2M0s/edit#gid=0

[2017-01-24 15:24] mherchel commented on #71
@StevenGFX Looks good! We do need a bunch of changes though. If you want to hop on a hangout or call, to go over it all, let me know. Here are changes:

* We need the new logo to match the site/social, etc
* No need for description or QR code. People will only see this sign when they're at the event.

Let me know when you have time, and we can talk about it. Thanks again,

[2017-01-24 18:22] mherchel commented on #70
I like the idea, but I don't think we need 1000. If we do get 1000, we can mail the rest to another camp I guess. My guess is we'll get 200 people eating one each. I don't mind paying the $. I think it definitely adds something.

[2017-01-24 18:22] mherchel commented on #70
pizzaz... that's what it adds :)

[2017-01-24 18:34] ultimike commented on #70
There's a few people who think $1k is too much to spend on chocolate (which does seem a bit crazy now that I've written that sentence). I'll ask for an estimate for 250 pieces as well as the breakout cost of the molds (just so we know).

[2017-01-25 13:13] ultimike commented on #70
I heard back from the chocolatier:

Thoughts?
-mike

[2017-01-25 13:56] lscook commented on #70
If we pay for the molds do we get to keep them and reuse them?

On Wed, Jan 25, 2017 at 8:13 AM, Michael Anello <notifications@github.com>
wrote:

--
*Linda Cook*
*321-720-4461*

[2017-01-25 14:38] ultimike commented on #70
Yep.

On Wed, Jan 25, 2017 at 8:56 AM, lscook <notifications@github.com> wrote:

[2017-01-25 15:00] Ky1e commented on #70
Yassssssssssssss!

[2017-01-25 16:23] Ky1e commented on #52
What's the budget for badges?

[2017-01-25 16:25] mherchel commented on #52
![image](https://cloud.githubusercontent.com/assets/1605905/22299111/ee3eb21e-e2f0-11e6-898e-c6c28e4590c2.png)

[2017-01-25 16:27] ultimike opened #85 "Live Gators (seriously)"
Ok - so I think it would be cool to have someone from Gatorland at the camp walking around at some point so that folks can take a selfie with a live alligator.

The cost for this is $250 for the first hour, $125 for each additional hour.

I think this is something that will be absolutely unique for our camp, and bring some great exposure via social media.

Thoughts?

[2017-01-25 16:30] ultimike commented on #52
Anything reasonable. Just let me know.

thanks,
-mike

On Wed, Jan 25, 2017 at 11:25 AM, Michael Herchel <notifications@github.com>
wrote:

[2017-01-25 16:32] Ky1e commented on #85
This camp is getting better with every one of these suggestions... Schedule it on Sunday to keep people around. :P @mherchel was looking for a solution.

[2017-01-25 16:34] mherchel commented on #85
YES!

[2017-01-25 16:34] ultimike commented on #85
Heh - that's not a bad idea.

On Wed, Jan 25, 2017 at 11:32 AM, Kyle <notifications@github.com> wrote:

[2017-01-25 16:35] Ky1e commented on #80
David from Orange Blossom Media would like his on Saturday afternoon. He's doing a dev workshop Saturday morning.

[2017-01-25 18:46] lscook commented on #85
Liability insurance and all that stuff in order? I would assume it's their
responsibility. Not sure about the school. Just a thought.

On Wed, Jan 25, 2017 at 11:34 AM Michael Anello <notifications@github.com>
wrote:

--
*Linda Cook*
*321-720-4461*

[2017-01-25 18:47] lscook commented on #70
On Wed, Jan 25, 2017 at 10:02 AM Kyle <notifications@github.com> wrote:

--
*Linda Cook*
*321-720-4461*

[2017-01-25 18:47] lscook commented on #70
So then we get chocolate every year.

On Wed, Jan 25, 2017 at 1:46 PM Linda Cook <cook.lindascook@gmail.com>
wrote:

--
*Linda Cook*
*321-720-4461*

[2017-01-25 19:36] ultimike commented on #85
Good point. I'll clear it with FTC, but I can't imagine it will be an issue.

On Wed, Jan 25, 2017 at 1:46 PM, lscook <notifications@github.com> wrote:

[2017-01-25 20:04] ultimike opened #86 "Venue notes"
I'm working on finalizing the details of the venue.

Here are the hours we agreed upon to have the building available to us:

- Friday 8am-5pm
- Saturday 7:30am-6:30pm
- Sunday 8am-5pm

As in previous years, we will pay for security and custodial services. FTC will provide a key holder for us to assist us.

Our original contact (Anissa Mills) is no longer with FTC. I'm currently working with Dr. K

[2017-01-25 20:19] Ky1e commented on #52
Working up the redesign and estimate w/ printer now.

[2017-01-25 20:21] Ky1e commented on #61
List from Kevin

Venue / Setup
. Who is my primary on-site contact from camp?
. Who is/are my primary on-site contact(s) from the venue (room access, room setup, equipment issues, etc.)?
. How many session rooms will the camp have?
. Can I get access to any rooms the day before sessions? If so, what time?
. What is the earliest I can get access to rooms during camp?
. I need a full power strip at

[2017-01-25 21:22] mherchel commented on #86
![image](https://cloud.githubusercontent.com/assets/1605905/22309733/7b72c728-e31a-11e6-9a10-a809566bf802.png)

[2017-01-26 00:18] ultimike commented on #78
I went ahead and scheduled all the sponsor tweets, so we're good-to-go with that.

[2017-01-26 18:48] ultimike commented on #86
Raul - custodial services.

- $15/hour?
- Saturday from noon - 7pm?
- Sunday from noon - 6pm?

He will get back to me with details.

[2017-01-27 18:19] ultimike commented on #85
Ok - so I'm thinking the best time to do this would be on Saturday morning during registration (8-10am).

I agree that Sunday would be good as well, but I think it would be cool for folks to show up on Saturday morning and see a live baby alligator.

The cost looks to be $375. I'm working on finalizing everything with Gatorland.

-mike

[2017-01-27 18:20] ultimike commented on #54
@Ky1e @sledss - Please give me a go/no-go on the 1-color version of the design. Bags need to be ordered ASAP.

thanks,
-mike

[2017-01-27 18:21] mherchel commented on #85
I'm fine with any time. Doing it Saturday would provide the better opportunity for people to tweet, take pics, etc, which is valuable PR for us.

[2017-01-27 18:28] ultimike commented on #70
Based on comments and an IRC discussion, we're going to order 250 of the Druplicon-shaped chocolates.

[2017-01-27 18:29] sledss commented on #54
It's a go! Sorry been swamped. I will get that to you today.

On Fri, Jan 27, 2017 at 1:21 PM Michael Anello <notifications@github.com>
wrote:

[2017-01-27 18:32] ultimike commented on #54
Rock and roll! Thanks!

[2017-01-27 21:54] Ky1e commented on #52
Badges w/ plastic holder and lanyard.

Quantity Description Price
300 Lanyards 1 Original (2 sides)
Preflight: Preflight
Cover Coated: 100# Blazer Digital Cover Gloss 3 x 4 (1 Original)
Front: Color
Back: Color
Promotional Products: Lanyards

Total: 1,155.00

[2017-01-27 21:55] Ky1e commented on #52
@ultimike What's a reasonable price? :P

[2017-01-27 22:13] ultimike commented on #52
Hrm - badge spending from previous years:

2016: $208
2015: $178
2014: $608
2013: $384

I honestly don't mind spending the money, but why is it so much more than previous years? Are they much different?

@carolineachee - do we have badge holders and/or lanyards left over from last year?

[2017-01-28 00:40] Ky1e commented on #52
Bulk of the cost comes from a plastic holder for the insert. Last year we kept having problems with them tearing through. I can get s quote without them for comparison.

[2017-01-28 02:04] mherchel commented on #52
Not sure where we ordered from in the past, but I found both http://www.usalanyards.com and http://www.lanyardsusa.com on Google. Both seem to have prices similar to years past. Hope this helps.

[2017-01-28 02:21] mherchel commented on #54
@sledss Also, what font is that using? Thanks :)

[2017-01-30 05:44] StevenGFX commented on #71
[fldc-signage-roll-up.pdf](https://github.com/florida-drupalcamp/fldc-issues/files/738213/fldc-signage-roll-up.pdf)

[2017-01-30 12:56] ultimike commented on #71
Cool. Is this going to be a big sign that folks can stand in front of to
take selfies with?

On Mon, Jan 30, 2017 at 12:44 AM, Steven Williams <notifications@github.com>
wrote:

[2017-01-30 13:23] ultimike commented on #85
Ok - this is all set. Saturday the 18th from 8-10am.

[2017-01-30 16:04] ultimike commented on #54
@sledss Sorry to be a bother. Let me know if/when you can get me the 1-color design. Not a big deal if we have to use the old logo for the bags, but I need to get the order placed ASAP.

Also - thanks for such an awesome design!

[2017-01-30 16:30] sledss commented on #54
Hey Michael,
Sorry for the hold up.

Here its is.
https://www.dropbox.com/s/kgzxyrsvlglpxpf/Drupal%208_03_one%20color.eps?dl=0

The font I used is Poppins.
https://fonts.google.com/specimen/Poppins

Let me know if there is anything else.

On Mon, Jan 30, 2017 at 11:04 AM, Michael Anello <notifications@github.com>
wrote:

--
Schiani Ledo
Head of Design

407•483•1185 ext 245
sledo@highforge.com
high

[2017-01-30 21:22] ultimike commented on #54
Great - thanks!

Bag issue here: https://github.com/florida-drupalcamp/fldc-issues/issues/56

[2017-01-30 21:30] ultimike commented on #56
Using the artwork from https://github.com/florida-drupalcamp/fldc-issues/issues/54#issuecomment-276111126, I've ordered 200 royal blue bags with light blue printing.

[2017-01-31 20:38] ultimike commented on #60
Current counts:

ReactJS: John Tucker - 11
DrupalVM: Ben Hosmer - 3
Intro to Drupal: Mike Anello - 15
Drupal 8 Theming: Suzanne Kennedy Dergacheva - 23
Docker: Lisa Ridley - 4

[2017-02-01 16:17] Ky1e commented on #52
They've got the logo in white on the lanyard is really the only change I think. Getting a quote for just printing, no lanyards.

[2017-02-01 19:12] benhosmer commented on #60
@mherchel and @ultimike since my session has a very low attendance, I'd like to change https://www.fldrupal.camp/training/introduction-drupalvm this to:

[2017-02-01 20:13] ultimike commented on #60
Done!

-mike

On Wed, Feb 1, 2017 at 2:12 PM, Ben Hosmer <notifications@github.com> wrote:

[2017-02-01 20:35] roberts365 commented on #55
We are looking at 195 shirts.  Will have invoice tomorrow.
Shirts will be Gilgan 50/50 cotton/poly blend short sleeve in navy blue.

![drup](https://cloud.githubusercontent.com/assets/18563630/22525119/045dcd16-e894-11e6-8c1e-b6e3344169c6.jpeg)

[2017-02-02 20:00] kurthiggins commented on #57
Drupal Watchdog wants to know shipping details for for delivery of magazines for reception table. Who's local and wants to receive delivery of these?

[2017-02-02 20:40] ultimike commented on #57
You can send them to me. I'll email you my address.

[2017-02-06 01:32] carolineachee commented on #52
I have purchased the lanyards and ribbons already.

[2017-02-06 15:47] lhridley commented on #60
@mherchel @ultimike If I am bringing an ethernet cable, how long does it need to be?

[2017-02-06 16:21] ultimike commented on #60
Hmm - I'm not sure the rooms even have Ethernet - Mike Herchel, do you
recall if they do?

Lisa - if they do have Ethernet, the rooms aren't super-big, so 20' should
be more than enough.

-mike

On Mon, Feb 6, 2017 at 10:47 AM, Lisa Ridley <notifications@github.com>
wrote:

[2017-02-06 16:24] lscook commented on #60
I don't think students or others can connect to the network via Ethernet.
This would be a security risk. Is there a special need for this?

On Mon, Feb 6, 2017 at 11:21 AM Michael Anello <notifications@github.com>
wrote:

--
*Linda Cook*
*321-720-4461*

[2017-02-06 16:32] lhridley commented on #60
Well, I was asking because of the instructions on the "Speaker Info" page on the camp website under "Internet".

https://www.fldrupal.camp/conference/speaker-info

[2017-02-06 18:09] lscook commented on #60
​We can double check during set up. It's in the speaker info though so it
should be correct. As I recall the instructor stations are close to all
connectors so 20 ft should be plenty. Mike when will we doing the set up?​

On Mon, Feb 6, 2017 at 11:32 AM, Lisa Ridley <notifications@github.com>
wrote:

--
*Linda Cook*
*321-720-4461*

[2017-02-06 18:22] ultimike commented on #60
Camp setup will be Friday from 5pm-6:30pm, although a few of us will be
there all-day Friday for the trainings.

-mike

On Mon, Feb 6, 2017 at 1:09 PM, lscook <notifications@github.com> wrote:

[2017-02-06 18:35] mherchel commented on #81
Third just went out. Closing.

[2017-02-06 18:35] #81 closed

[2017-02-06 18:37] mherchel commented on #83
@andrewmriley ☝️ Lets get this taken care of :)

[2017-02-06 18:38] mherchel commented on #63
Closing

[2017-02-06 18:38] #63 closed

[2017-02-06 20:10] ultimike commented on #86
Custodial is all set. The vendor is "CC Cleaning services" and the amount is $273.92. Don is sending me a check that I can hand them at the event.

[2017-02-06 20:13] ultimike commented on #86
Security is via Amir Ghaffari (407-271-5747). I spoke with him on 2/6/17 and he told me his colleague Frank would be calling me to finalize the arrangements.

[2017-02-07 00:45] mherchel commented on #80
Good Day,

I would need to present my accepted session "DRUPAL 8 CACHING: A DEVELOPER’S GUIDE" https://www.fldrupal.camp/sessions/approved/florida-drupalcamp-2017/development-performance/drupal-8-caching-developer%E2%80%99s-guide on Sunday. If I could do 10AM on Sunday that would be great. Can that work?

Thanks,

Peter Sawczynec

[2017-02-07 14:09] mherchel commented on #80
Dear Organizing Team,

Thank you for selecting my session. Given a preference, I would like to deliver my session on Saturday. May have to fly out on Sunday.

Happy to be present and be part of Florida DrupalCamp.😀

Best,
Shailesh Gogate

[2017-02-07 14:20] mherchel commented on #80
I wanted to let you know that I will not be able to attend Sunday. I am attending on Saturday. So I request that my session be scheduled for Saturday. Link to session - https://www.fldrupal.camp/sessions/approved/florida-drupalcamp-2017/site-building/selling-healthcare-insurance-plans-drupal

Thank you. --Jitesh

[2017-02-07 15:58] Ky1e commented on #52
Awesome then we're moving forward with the printing.

300 tags 3 x 4 printed 2 sides on 100# gloss cover and drilled with 1 hole top center - $95.00.

The cutoff for a name on the badge is Monday the 13th.

[2017-02-07 15:59] ultimike commented on #52
Sa-weet!!!

On Tue, Feb 7, 2017 at 10:58 AM, Kyle <notifications@github.com> wrote:

[2017-02-07 17:40] mherchel commented on #59
@ultimike So food? Also Coffee?

[2017-02-07 19:32] mherchel commented on #74
@willjackson is looking to help out.

[2017-02-07 19:32] mherchel commented on #77
Where should this be located? Library?

[2017-02-07 19:33] #84 closed

[2017-02-07 19:34] mherchel commented on #82
@carolineachee Sessions have been accepted (and some rejected). Can you check once again, and we'll shoot an email? The current list is at https://www.fldrupal.camp/admin/sessions

[2017-02-07 19:34] #69 closed

[2017-02-07 19:35] mherchel commented on #76
Closing. Thanks @lscook!

[2017-02-07 19:35] #76 closed

[2017-02-07 19:44] #80 closed

[2017-02-07 19:44] mherchel opened #87 "New (post schedule launch) scheduling requests"
Related to #80

Hi guys!

I was just going to write when I saw the schedule email.

My availability for going to the camp is limited to only the Saturday. I'm flying out of town and already it is super expensive to book the flight 1 week before.

I would appreciate you could swap my session with another one with more flexible schedule on Saturday afternoon. I'll be landing at 9am on Orlando.

This

[2017-02-07 19:44] mherchel commented on #87
Hi Florida DrupalCamp Organizing team,

I am very sorry to say I have already committed to attending SANDCamp the same weekend in San Diego.  Apologies for not getting back to you sooner I am currently at LoopConf and I just saw your schedule posted and realized I had not replied yesterday.

I really appreciate the acceptance and hate to back out, but plane tickets and hotels were already paid for

[2017-02-07 20:42] JCL324 commented on #83
2012 and 2013 are now live and archived.  I've tried my best to prevent registration, or other admin type links.

[2017-02-07 20:43] willjackson commented on #74
@ultimike - We are driving down from Aiken, SC and will likely be in late Friday and will be driving back early Sunday.  I am presenting a session in the first time slot for Saturday morning, but outside of that I am available to help where needed.

[2017-02-07 20:57] ultimike commented on #86
I spoke with Frank Tejera from Securitas - here's the deal for FLDC17 security

- Friday - FTC security already present
- Saturday - 7:30am-6:30pm
- Sunday - 8am-5pm

Frank will send me a proposal.

[2017-02-07 21:08] mherchel commented on #83
Thank you @JCL324!

[2017-02-07 21:10] JCL324 commented on #83
Let's not close yet in case @andrewmriley can help with the .htaccess rules.

[2017-02-07 22:09] mherchel commented on #87
Hi Caroline I am working on logistics this week. I am hoping to get that resolved by tomorrow. One request would be to have my session on Saturday vs Sunday if possible. Thanks!

-Jay

[2017-02-08 13:08] mherchel commented on #87
All complted

[2017-02-08 13:08] #87 closed

[2017-02-08 13:08] mherchel commented on #85
Closing.

[2017-02-08 13:08] #85 closed

[2017-02-08 13:26] mherchel commented on #78
Closing. I don't see anyone else jumping in this late.

[2017-02-08 13:26] #78 closed

[2017-02-09 20:38] kurthiggins commented on #57
Google Doc summary of the books and codes: https://docs.google.com/document/d/1LFtqHdTtpxTzcUGXyYQMR_hmwaioJ-0GgstI22AzB_0/edit?usp=sharing

[2017-02-10 15:18] mherchel commented on #71
We're getting two of these:

![image](https://cloud.githubusercontent.com/assets/1605905/22831871/f1291e34-ef79-11e6-8959-7cd61028e667.png)

I just ordered. The total came to $179.97.

They look like this. Note to @StevenGFX I had to adjust the size (was 71" tall not 78") and remove the bleed. But it's looking good!

![screen shot 2017-02-10 at 10 17 25 am](https://cloud.githubusercontent.com/asse

[2017-02-10 15:21] ultimike commented on #71
OUTSTANDING!

(get it? outSTANDing? Because it's a stand-up thing...)

On Fri, Feb 10, 2017 at 10:18 AM, Michael Herchel <notifications@github.com>
wrote:

[2017-02-10 15:23] ultimike commented on #71
Does that place that you're ordering those from sell tablecloths that we
could put branding on for our registration tables? If so, let's get 4 or so
of them as well (if you guys have the time to make that happen - if not, no
worries - I saw some at the New Jersey camp and they looked very
professional).

On Fri, Feb 10, 2017 at 10:21 AM, Michael Anello <manello@gmail.com> wrote:

[2017-02-10 15:24] mherchel commented on #71
@ultimike possibly. I have time after lunch to check, but now I gotta get some shit dun.

http://www.stickersbanners.net

[2017-02-10 15:48] ultimike commented on #71
They don't do tableclothes. No worries.

On Fri, Feb 10, 2017 at 10:24 AM, Michael Herchel <notifications@github.com>
wrote:

[2017-02-10 15:48] mherchel commented on #71
anything else to get?

[2017-02-10 15:54] ultimike commented on #71
Nothing I can think of at the moment - and the last thing I want to do is
hold the process up.

On Fri, Feb 10, 2017 at 10:48 AM, Michael Herchel <notifications@github.com>
wrote:

[2017-02-10 15:54] mherchel commented on #71
Cool. I just approved the proof. Should ship today w 3 business day turnaround. So, I should receive on Wednesday or Thurs at the latest.

[2017-02-10 15:55] mherchel commented on #71
thinking about it. I'm going to get it shipped faster. Just in case.

[2017-02-10 15:59] ultimike commented on #71
https://m.popkey.co/ca8f87/AoYjv_f-maxage-0.gif

On Fri, Feb 10, 2017 at 10:55 AM, Michael Herchel <notifications@github.com>
wrote:

[2017-02-10 16:05] mherchel commented on #71
dun

[2017-02-10 17:01] ultimike commented on #60
Current counts:

ReactJS: John Tucker - 15
DrupalVM: Ben Hosmer - 3
Intro to Drupal: Mike Anello - 21
Drupal 8 Theming: Suzanne Kennedy Dergacheva - 25
Docker: Lisa Ridley - 7

I'll be sending out class lists (with email addresses) to the instructors later today. @mherchel will you forward me John Tucker's email?

thanks,
-mike

[2017-02-10 17:52] lhridley commented on #60
Mike, I can take one more if there's anyone interested...

Sent from my iPhone

[2017-02-10 19:57] ultimike commented on #60
Lisa - roger that - I just bumped your max to 8 - I'm sure someone will
grab it...

thanks,
-mike

On Fri, Feb 10, 2017 at 12:52 PM, Lisa Ridley <notifications@github.com>
wrote:

[2017-02-10 20:22] ultimike commented on #59
Boxed lunches from TooJays:

- 55 "no preference"
- 10 vegetarian
- 5 vegan
- 70 total boxed lunches (labelled, napkins, mayo/mustard, etc...)
- $10.79/each
- They'll bring ice tea and lemonade to drink for $6.79/gallon (6 gallons) - includes cups and everything.
-  They'll bring a cooler of ice as well.
- I can call them next week with final numbers.
- Will deliver between 11:30-noon.
- I spoke w

[2017-02-12 13:51] mherchel opened #88 "Request for free tickets"
This came in on the facebook page:

![image](https://cloud.githubusercontent.com/assets/1605905/22862601/57f0c0b8-f100-11e6-9b8f-2670b4f4fa7a.png)

@ultimike Thoughts?

[2017-02-12 13:52] mherchel commented on #88
Friends on FB with Ryan. Maybe we should ask him?

[2017-02-12 15:04] ultimike commented on #88
I'll forward to Ryan and ask him what he thinks.

-mike

On Sun, Feb 12, 2017 at 8:52 AM, Michael Herchel <notifications@github.com>
wrote:

[2017-02-13 13:55] andrewmriley commented on #53
@ultimike @mherchel Do you have a current count estimate (including volunteers) that I can send to Gringos?

[2017-02-13 14:00] mherchel commented on #53
Current estimate is 240. Right now we have 202 registered.

[2017-02-13 14:00] mherchel commented on #53
Catering companies always prepare up to 20% more, so we could probably get away with telling them 230 or so.

[2017-02-13 14:03] mherchel commented on #71
tracking https://track.aftership.com/fedex/785571448916

[2017-02-13 14:15] andrewmriley commented on #53
@mherchel @ultimike Any idea what time the school will open up that morning for setup?

[2017-02-13 14:16] mherchel commented on #54
closing

[2017-02-13 14:16] #54 closed

[2017-02-13 14:17] mherchel commented on #58
Closing.

[2017-02-13 14:17] #58 closed

[2017-02-13 14:18] ultimike commented on #53
7:30am - full details:
https://github.com/florida-drupalcamp/fldc-issues/issues/86

On Mon, Feb 13, 2017 at 9:15 AM, Andrew M Riley <notifications@github.com>
wrote:

[2017-02-13 14:19] mherchel commented on #53
Not sure, but I remember 2 years ago they were late with the coffee. I would tell them they need to start setting up at 7:30am out front. Tell them not to be late w the ☕️ !!

[2017-02-13 14:20] #56 closed

[2017-02-13 14:20] #71 closed

[2017-02-13 14:34] capysara commented on #60
Ben changed his session to a half-day for DrupalVM, but the site still says 9-4. Is that right?

[2017-02-13 14:40] mherchel commented on #60
No clue @benhosmer

[2017-02-13 14:54] ultimike commented on #88
The gentlemen in Portland had a good idea for this - can we ask them to volunteer during the camp in exchange for their tickets? Where do we need help? Setup and cleanup?

[2017-02-13 15:02] andrewmriley commented on #53
I've requested they start setting up at 7:30 :)

[2017-02-13 15:20] carolineachee commented on #52
Here is a pic of the lanyard and holes needed...
It would be best to have the slotted hole. I have a punch that we can make the holes with.
![img_3364 1](https://cloud.githubusercontent.com/assets/7811538/22889099/fd5a708c-f1d5-11e6-88d7-7e6dcf86549a.JPG)

Thanks,
Caroline

[2017-02-13 15:21] carolineachee commented on #75
Mike,

Can you please send me a copy of the file at around 3:30 today.

Thanks,
Caroline

[2017-02-13 15:30] ultimike commented on #52
Just a heads-up - Achieve Agency might be providing branded lanyards. If
they do, I told them they must be the clip-type (slotted) and they must get
them to us by Wednesday.

On Mon, Feb 13, 2017 at 10:20 AM, Caroline Achee <notifications@github.com>
wrote:

[2017-02-13 21:31] carolineachee commented on #75
Thanks!

[2017-02-13 21:42] carolineachee commented on #52
Thanks!

Caroline

[2017-02-13 21:45] carolineachee commented on #52
Kyle,

Can you email so that I can email you the excel file. I cleaned up some of the data.. cachee@cfl.rr.com

Thanks!
Caroline

[2017-02-14 01:51] roberts365 commented on #55
Shirts will be ready tomorrow for pickup.

[2017-02-14 02:24] #82 closed

[2017-02-16 02:40] mherchel opened #89 "New Keynote slide deck"
@ultimike Do you need a new keynote slide master?

[2017-02-16 12:26] ultimike commented on #89
Sure, if you have time.

Mike

On Wed, Feb 15, 2017 at 9:40 PM Michael Herchel <notifications@github.com>
wrote:

[2017-02-16 14:04] mherchel opened #90 "For inclusion to Ultimike's slide deck"
@ultimike

In addition to the usual stuff...

* Cancellation of Ryan Wagner's session on "Making PHPStorm work for you". This is off the website, but will be on the large printed schedule
* Genius bar - speakers will be hanging out there after their sessions
* After Party - Sponsored by Code Journeymen & Kanopi
* Code Sprints

[2017-02-16 14:05] mherchel commented on #90
* 30 min between sessions

[2017-02-16 15:40] ultimike commented on #90
Speakers - after your session, head to the "Genius bar" for questions.

On Thu, Feb 16, 2017 at 9:05 AM, Michael Herchel <notifications@github.com>
wrote:

[2017-02-16 16:07] mherchel commented on #89
@ultimike https://www.dropbox.com/s/dpdlbpp05yy4cwz/fldc17-keynote-master.key?dl=0

[2017-02-16 18:07] Ky1e commented on #77
I'll man this and help direct traffic in between session recordings.

[2017-02-16 18:49] ultimike commented on #59
- Updated to 85
- 10 vegetarian
- 4 vegan
- 71 mixed
- 7 gallons of drink
- Total cost: $1,011.30

[2017-02-16 21:30] ultimike commented on #74
Sponsors needing tables:

Seeva, DrupalEasy, Last Call, Digital Echidna, Achieve Agency, Spinspire

[2017-02-16 21:47] ultimike commented on #90
All added.

[2017-02-16 21:47] #90 closed

[2017-02-23 17:02] #53 closed

[2017-02-25 22:47] mherchel opened #91 "FLDC17 Retrospective / Post Mortem"
For posterity

https://docs.google.com/document/d/1aX22YdH0x40wGxYseASNFY4N9w1V3wYiL8a-Hqvb5ws/edit

[2017-02-25 22:47] #91 closed

[2017-02-25 22:47] #89 closed

[2017-02-25 22:47] #88 closed

[2017-02-25 22:47] #74 closed

[2017-02-25 22:48] #61 closed

[2017-02-25 22:48] #52 closed

[2017-02-25 22:48] #55 closed

[2017-02-25 22:48] #57 closed

[2017-02-25 22:48] #59 closed

[2017-02-25 22:48] #60 closed

[2017-02-25 22:48] #68 closed

[2017-02-25 22:48] #70 closed

[2017-02-25 22:48] #72 closed

[2017-02-25 22:48] #73 closed

[2017-02-25 22:48] #75 closed

[2017-02-25 22:48] #77 closed

[2017-02-25 22:48] #83 closed

[2017-02-25 22:48] #86 closed

[2017-09-28 21:38] Ky1e opened #92 "Figure out Lodging / hotel packages"
Same hotel as last year?

[2017-09-28 21:39] Ky1e opened #93 "Secure after-party and add to website"
Do we have a POC at F&K?

[2017-09-28 21:45] Ky1e opened #94 "Figure out featured speakers"

[2017-09-28 21:45] Ky1e opened #95 "Figure out who will be managing the FLDC financing"

[2017-09-28 21:46] Ky1e opened #96 "Put archived 2017 site up on 2017.fldrupal.camp"

[2017-09-28 21:46] Ky1e opened #97 "Work on og & twitter metatags"

[2017-09-28 21:47] Ky1e opened #98 "Update EventBrite integration"
This one might be an issue. There is chatter that it is somewhere. I think I saw it on Twitter somewhere.

[2017-09-28 21:48] Ky1e opened #99 "Overall camp schedule"

[2017-09-28 21:53] Ky1e opened #100 "Reach out to OS Training"
Check w/ Steve Burge.

[2017-09-28 21:55] Ky1e opened #101 "Find female Code of Conduct contact for the event"
Linda Cook (@lscook) was the point of contact last year.

[2017-09-28 21:56] Ky1e opened #102 "Invitation letter for foreign visitors"
Letter from last year can be found here, https://docs.google.com/document/d/1JqINc6uRvTDhbm8qJeHg1t36x-jz63h6R2RqFjEilLU/edit.
Needs updating for this year.

[2017-09-28 21:58] Ky1e opened #103 "Badges"
I took care of this last year and created the design. Will post at future date.

Designs located here https://www.dropbox.com/sh/6y5t57394im98lu/AACJGMcbu3LB1eo8kuSdCrtra?dl=0

[2017-09-28 22:02] Ky1e opened #104 "Saturday Catering"
Andrew Riley, Andrew Riley, Andrew Riley... Hrmm... That seemed to work last year, wonder if it works this time? ;)

GRINGOSSSSS
Some quick notes from last year:
- Plan for 250, adjust a week out - Attendance was about 210
- Saturday catering only
- FTC opens at 7:30am
- They have vegan and gluten-free options available.

[2017-09-28 22:04] Ky1e opened #105 "Tshirt Design"
We took care of this one also, will see what we can come up with this round.

[2017-09-28 22:06] Ky1e opened #106 "Order Tshirts"
Natalie took care of this last year, anyone got contact info?

Design: #105

[2017-09-28 22:08] Ky1e opened #107 "Bags"
I don't think we had any left over from last year. Here's what was ordered, 200 https://www.holdenbags.com/products/little-tex-grocery-bag.

[2017-10-07 18:46] Ky1e opened #108 "Free Swag (books, stickers)"
Reach out to DA for
- [ ] Stickers
- [ ] Other swag

Reach out to publishers for books
- [ ] Oreilly
- [ ] Apress
- [ ] Packt
- [ ] Others
- [ ] Drupal Watchdog (Linux Foundation owns this?)

[2017-10-07 18:48] Ky1e commented on #108
Kurt Higgins took this last year.

Some notes:

* You can get free JetBrains PHPStorm licenses at https://www.jetbrains.com/support/community/#section=communities
* You may be able to get free copies of the Drupal Watchdog magazine at https://www.drupalwatchdog.com. We would get them for free when they were previously owned by Tag1
* Free books from Packt Publishing by emailing rheam@packtpub.com

[2017-10-07 18:50] Ky1e opened #109 "Sponsors"
@ultimike you mentioned you'd send the first round of emails. I hit up Ben and Dwayne at Pantheon who both confirmed they'd be attending. I'm sure they bring sponsorship with them but it needs to be confirmed. Was waiting until we locked in FTC dates.

[2017-10-07 18:55] Ky1e opened #110 "Food on Friday"
Last year we had 85 boxed lunches from TooJays. We ended up having to get a lot more. I think the count ended up being somewhere around 110-120 before we brought in pizza.

Previous order:

Boxed lunches from TooJays:
55 "no preference"
10 vegetarian
5 vegan
70 total boxed lunches (labelled, napkins, mayo/mustard, etc...)
$10.79/each
They'll bring ice tea and lemonade to drink for $6.79/gallon (6

[2017-10-07 18:56] Ky1e opened #111 "Friday (free) Trainings"
Need to hit up Steve from OSTraining to see if he's available for beginner track.

[2017-10-07 18:59] Ky1e opened #112 "Session Recordings"
I went ahead and contacted Kevin Thull to see if he's available again this year for recordings.

[2017-10-07 19:02] Ky1e opened #113 "Sunday Food"
We need someone to help manage the food for Sunday. Tasks include:

Buying drinks, donuts, and bagels and having them at the venue first thing (you will obviously be reimbursed).
Managing leftovers from Saturday.
Being the first one there on Sunday to open the building and get things set up.

This task can be split up between multiple volunteers.

[2017-10-07 19:08] Ky1e opened #114 "Swag to purchase"
Cielooooooo... We're getting started early to make sure we have plenty of time for swag ordering. We should have the mold for chocolates left over from last year. We did a design yesterday but it needs some tweaks. Should be done soon.

@ultimike did we have anything left over?

[2017-10-07 19:10] Ky1e opened #115 "Indoor signage"
I think we're using the signage from last year. @ultimike Do we need anything here?

[2017-10-07 19:11] Ky1e opened #116 "Code Sprint"
Notes from last year:
xjm suggested that we do a major issue triage sprint at FLDC (see http://xjmdrupal.org/blog/drupal-8-major-triage-new-orleans and https://www.drupal.org/node/2474049).

We're thinking we could do this on Sunday.

In order to make this happen, we need some sprint leads.

[2017-10-07 19:15] Ky1e opened #117 "Sponsor Happiness - day(s) of event"
During the event, we're going to need a couple of volunteers to visit each of the sponsors at their tables (or where ever they might be) to ensure they have everything they need and (more importantly) let them know how much we appreciated their involvement.

Things we can offer include:

1.  Make introductions with attendees.
2.  Escort sponsors to the front of the lunch line (this is a new, unadv

[2017-10-07 19:16] Ky1e commented on #117
I did this along with @ultimike and it still didn't seem like enough. Need some assistance party people.

[2017-10-07 19:18] Ky1e opened #118 "Registration"
Caroline and Karan rule the registrations with iron fists. Nuff' said.

[2017-10-07 19:20] Ky1e opened #119 "AV Wrangler"
@ultimike need another count, I know we beefed up last year for the code sprint. @lscook did you wanna wrangle all the things again? 😸

[2017-10-07 19:22] Ky1e opened #120 "Genius Bar"
The genius bar ended up more being a hangout spot for chit chat considering it was in the only sitting area in the lobby. Can't hurt to have it again. I don't think it really needs to be manned, just need to get the word out that it's there. Possibly in opening remarks, @ultimike?

[2017-10-07 19:24] Ky1e opened #121 "Town Crier - Social Media"
The social media wrangler will post various information on our social media account in the time leading up to the camp. In addition, after the camp, we'll need to send out posts thanking attendees, speaker, trainers, and sponsors.

Ideally, we’d like 1-2 posts per day on each of the following:

https://twitter.com/fldrupalcamp
https://www.facebook.com/groups/43405081389/
https://www.linkedin.com/g

[2017-10-07 19:24] Ky1e commented on #121
@gscampbell64

[2017-10-07 19:26] Ky1e opened #122 "Session Scheduling Requests"
This issue is to log all requests that come from speakers on which day they want to speak.

Mark with a thumbs up when the request has been fulfilled.

[2017-10-07 19:28] Ky1e opened #123 "Sponsor text ads in newsletters"
As part of some higher-level sponsorships, sponsors can request text ads in newsletters.

Let's use this case to keep track of them.

[2017-10-07 19:30] Ky1e opened #124 "Session Acceptance"
When issuing an acceptance of a session please ensure they register for the camp if they are not already registered. Some speakers tend to wait until their session is accepted to register but sometimes forget. We had an issue with this last year.

[2017-10-07 19:31] Ky1e opened #125 "Schedule for 2017"
TBD

[2017-10-07 19:35] Ky1e opened #126 "Venue notes"
As in previous years, we will pay for security and custodial services. FTC will provide a key holder for us to assist us.

Contact info:
Mrs. Andrea Meda-Pollock - Director of Career Services
Email: apollock@ftccollege.edu
Phone: (407) 447-7314

Edit: Andrea left, her replacement is Maryann at the same number.

I had a meeting with Andrea where we confirmed that we are locked in for presidents day

[2017-10-07 19:35] Ky1e commented on #126
Handing off to @ultimike for other details.

[2017-10-07 19:39] Ky1e opened #127 "Notes from last years retrospective"
https://docs.google.com/document/d/1aX22YdH0x40wGxYseASNFY4N9w1V3wYiL8a-Hqvb5ws/edit

[2017-10-07 19:48] lscook commented on #119
Sure. Sign me up. Thanks Kyle.

[2017-10-08 16:32] ultimike commented on #126
I'll email Andrea today with some additional details and to get the ball rolling...

-mike

[2017-10-08 16:52] ultimike commented on #126
Here's the text of the email I sent:

[2017-10-08 16:58] ultimike commented on #125
From the retro:

[2017-10-08 16:59] ultimike commented on #124
Also - I'd like to propose that speakers get a free registration coupon code.

[2017-10-08 17:00] ultimike commented on #123
I'll reach out to Achieve right now - they've already confirmed they want Platinum, I feel they should be rewarded handsomely for being easy and loyal.

[2017-10-08 17:06] Ky1e commented on #123
Agreed. What any ideas on what else we can provide?

[2017-10-08 17:07] Ky1e commented on #119
You rock, thanks!

[2017-10-08 17:07] ultimike commented on #121
Another idea - DrupalCamp Atlanta is advertising on Yahoo - every time I hit a page on yahoo.com, I see a DCATL ad. I've reached out to one of the organizers to see what their ROI is. I'll post back here when I find out.

[2017-10-08 17:08] ultimike commented on #123
I was just thinking that we can get their ads in all the email blasts I know Herchel will be sending out over the next couple of months. Once we start getting some additional Gold sponsors, we can add in their ads as well.

[2017-10-08 17:10] ultimike commented on #120
Fine by me.

[2017-10-08 17:11] ultimike commented on #118
From last year's retro:

[2017-10-08 17:14] ultimike commented on #116
From last year's retro:

[2017-10-08 17:15] ultimike commented on #115
From last year's retro:

@mherchel also mentioned that we have several hundred dollars in signage from previous years with the old logo - I'm not so bothered by re-using it.

From what I remember, Cielo is pretty good at identifying what we need for signage...

[2017-10-08 17:20] ultimike commented on #114
I don't believe so. Caroline can probably confirm.

This is probably part of a bigger discussion - if we want to adopt "registration levels" - something along the lines of (just spitballing here):

*  Pay $15 - no t-shirt or anything
*  Pay $30 - t-shirt
*  Pay $50 - polo shirt
*  Pay $75 - hoodie (Cielo has been lobbying for this for years)
*  Pay $100 - get all three

[2017-10-08 17:20] ultimike commented on #113
Absolutely - I need to step back from taking care of this as well as being the first one there on Sunday to open the building and get things set up...

[2017-10-08 17:21] ultimike commented on #112
Just let me know how much $$$ (including a donation to help him with equipment) we need to make this happen.

[2017-10-08 17:22] ultimike commented on #111
I'll email Steve now.

I'll also volunteer to do a "Drupal 8 Configuration System Basics" workshop (same as I'm doing at BADCamp - https://2017.badcamp.net/training/drupal-8-configuration-system-basics).

-mike

[2017-10-08 17:25] ultimike commented on #109
This is my number one priority - I'll get started on this immediately.

-mike

[2017-10-08 17:26] ultimike commented on #103
From last year's retro:

[2017-10-08 17:26] Ky1e commented on #112
He got back to me, he is available and booked for the camp this year. He will get back to us on funding.

[2017-10-08 17:27] ultimike commented on #95
@caelon (I'm assuming) and I will handle this.

[2017-10-08 17:28] ultimike commented on #100
This is a duplicate of https://github.com/florida-drupalcamp/fldc-issues/issues/111 - marking as closed.

[2017-10-08 17:28] #100 closed

[2017-10-08 17:34] carolineachee commented on #103
You can have a field on the registration form for everyone to put what they want printed on the name tag.

[2017-10-08 17:39] carolineachee commented on #114
I do not have any left overs...

If the plan is to have different levels of registration we will need to make sure that the data is transferred from Eventbright to the Drupal site. As well as that there is a deadline for registration to get the additional items.

[2017-10-08 17:40] Ky1e commented on #103
@carolineachee that's a good idea. I wonder if a printer would have an issue with it, using different templates.

[2017-10-08 17:46] ultimike commented on #94
I think this is one of our top priorities (along with the web site and sponsorships).

Some ideas

*  Angie - https://events.drupal.org/dublin2016/sessions/how-our-competitors-are-kicking-drupals-ass-and-what-we-can-do-about-it
*  Security speaker
*  Decoupled speaker

[2017-10-09 13:21] caelon commented on #95
Yep. I can continue handling this.

[2017-10-09 14:34] lscook commented on #117
I did this one year and we also used tickets to promote the sponsors. Sponsors gave out tickets to attendees who stopped by their tables. The tickets were used for prize drawings at the final session. I gave some tickets to the presenters too so they could give them out. If I saw a session room with few attendees I stood outside the door and gave tickets out when people walked in and sat down to b

[2017-10-09 14:35] stevejburge commented on #111
Happy to help, but I only if you bring the alligators again this year.

[2017-10-09 15:32] Ky1e commented on #117
Now THATS a kickass idea @lscook

[2017-10-09 15:34] ultimike commented on #117
Yep, great idea - sounds like we need a few "day of" volunteers to help out with this.

[2017-10-09 15:36] Ky1e commented on #111
Hah! We've talked about bringing Skywalker's dad for some gator rides. FTC mentioned something about insurances and liabilities? I'm not sure but I think it'll be fine...

Thanks @stevejburge!

[2017-10-09 17:40] lscook commented on #117
Aw...shucks. Thanks.

[2017-10-11 12:30] mherchel commented on #111
I talked to John Tucker, and he's willing to do ReactJS training again! He has it in his calendar.

[2017-10-13 18:25] Ky1e commented on #105
![fldc-2018_logo_full_final](https://user-images.githubusercontent.com/9222546/31560462-58cb5e94-b022-11e7-824b-5094596298c6.png)

[2017-10-13 18:27] Ky1e commented on #103
![lanyard_front](https://user-images.githubusercontent.com/9222546/31560495-7fa8010c-b022-11e7-8a23-7e12483cd295.png)
![lanyard_name](https://user-images.githubusercontent.com/9222546/31560499-8120c30c-b022-11e7-90ef-e28a32432b27.png)
![lanyard_back](https://user-images.githubusercontent.com/9222546/31560533-afd2229a-b022-11e7-9c15-4a87047cbf77.png)

[2017-10-13 18:28] Ky1e commented on #103
Those are 5x7

[2017-10-13 18:55] #97 closed

[2017-10-13 18:56] Ky1e commented on #94
Sally, and Adam are locked in.

[2017-10-13 20:51] carolineachee commented on #118
Sign me up!

[2017-10-14 16:22] Ky1e commented on #118
The real mvp!

[2017-10-14 18:57] jeppy64 opened #128 "Relativity for Event Management"
Hey Everyone,

So, here's the scoop on the new and far improved event management system.
1: This system allows for an organization to create, manage, display and archive many events.
    ( in our case the organization is Florida Drupal Users Group )

2: The architecture has been completely revamped and allows for the full data model to be managed within each single event.
    ( so FLDC 2018 has th

[2017-10-15 14:32] jeppy64 commented on #122
How do you guys feel about taking session proposals through webform?
I have a form on the new dev site where an anonymous visitor can submit a proposed session and select the camp day/time slot they prefer.

I'd love to see all user accounts only be for the Florida Drupal Users Group and not have any user accounts created for any specific event.

Note (if we do this webform proposed session thing)

[2017-10-15 14:35] jeppy64 commented on #124
Please see [https://github.com/florida-drupalcamp/fldc-issues/issues/122](url)

[2017-10-28 16:18] ultimike commented on #109
I just sent out the sponsorship opportunities emails + PDF to 52 potential sponsors. Fingers crossed.

[2017-10-28 17:42] ultimike commented on #128
Here are the notes/questions/answers/comments from my walkthrough of the site (along with Jay's answers from our Slack chat) and the Slack chat transcript.

[FLDC18_relativity2_notes_mike.txt](https://github.com/florida-drupalcamp/fldc-issues/files/1424447/FLDC18_relativity2_notes_mike.txt)

[slack_chat_transcript.txt](https://github.com/florida-drupalcamp/fldc-issues/files/1424448/slack_chat_tran

[2017-10-31 13:07] ultimike commented on #111
Kelly Albrecht from Last Call Media (also a sponsor) is interested in giving a "Agile with Drupal" workshop - I'm working on getting all the details.

[2017-11-02 14:02] StevenGFX commented on #115
I can take over these duties

[2017-11-02 14:03] Ky1e commented on #115
Awesome-sauce! I've got all the creative files so let me know what you need.

[2017-11-02 20:09] ultimike commented on #118
Achieve will be providing the lanyards again this year.

[2017-11-05 01:28] Ky1e commented on #124
I'll run a check after we publish the schedule to make sure everyone is scheduled.

[2017-11-05 01:33] Ky1e commented on #121
I've got a buffer subscription I can schedule these with. Need info so we can start this.

[2017-11-05 01:35] Ky1e commented on #125
We will take care of putting all of the sessions on the schedule.

[2017-11-05 01:38] Ky1e commented on #98
We just linked to eventbrite.

[2017-11-05 01:38] #98 closed

[2017-11-05 01:39] Ky1e commented on #96
I pulled a copy of the site. Just need info to where we host the others.

[2017-11-05 16:22] jeppy64 commented on #128
Design is coming along BADASS. Claudio really is rockin this in a big way. He and I have had several work sessions and are due for a chat later today (Sunday 11/5). Theming is also in the works and will be chatted over today as well with Gregg Shanefelt.
I think you guys will be extremely impressed. I know I am.

Official announcement on Relativity for Event Management:
1: The data model for FLDC

[2017-11-05 22:45] ultimike commented on #128
Woot! Sounds like great progress. Will Claudio be pushing commits to http://dev-relativity-for-event-management.pantheonsite.io/ as he progresses?

[2017-11-06 16:22] ultimike commented on #124
This task also includes things like: promoting when our session proposals are open, reviewing/selection/scheduling sessions, ensuring diversity, etc…

[2017-11-06 16:32] ultimike commented on #114
Additional info for potential volunteers to help with this task:

- This doesn’t include t-shirts.
- It includes the camp bags (which is easy, I have all the info).
- @mherchel will order any stickers we need.
- So, all that’s left is any fun stuff we want to include. We’re toying with the idea of individual sponsor levels getting extra swag. So, if you pay $50, you get a bonus swag thing, $100, s

[2017-11-06 17:01] carolineachee commented on #118
I will work with John about the type of clip he get for the lanyards.

[2017-11-06 17:15] grshane commented on #128
I wanted to introduce myself, I'll be doing frontend dev for the site. I will be committing to the Pantheon repo once I gain access.

[2017-11-06 17:44] Ky1e commented on #128
Hey @grshane, I'd be happy to give you access. What's your email for Pantheon?

[2017-11-06 18:06] grshane commented on #128
gregg macchiatomarketing. com

[2017-11-06 18:17] Ky1e commented on #128
Hrmm, It looks like you already have access. Are you able to login?

[2017-11-06 18:27] grshane commented on #128
I am now. Jay added me a few minutes after I sent the message.

[2017-11-06 18:30] jeppy64 commented on #128
@ultimike yes sir.... we will keep the build in my pantheon thorugh dev. then we can export a full site config and pop that in wherever you guys want on a vanilla d8 install. i'm guessing you're staying with acquia hosting?

[2017-11-07 13:07] ultimike commented on #128
Ideally, we should just host on Pantheon, seeing how you're developing there - that will make things easier.

@Ky1e Want to ping Altoosa at Pantheon and ask for free hosting for this site?

-mike

[2017-11-08 22:22] Ky1e commented on #128
I'll take care of it tonight.

Kyle

[2017-11-10 14:35] Bowevil commented on #113
If I am locally I can take this on.

[2017-11-14 14:56] ultimike commented on #128
@grshane How's the theming going? Is there anything you need from us? Are we still on-schedule?

thanks,
-mike

[2017-11-14 14:59] Ky1e commented on #128
I hit Cheney up for free hosting on the site so whenever it's ready we can get it going.

[2017-11-16 13:16] ultimike commented on #109
Here's an update on sponsorships. The following **cash** sponsors have confirmed - I'll be sending out invoices to all of them in the next few days:

**Platinum**

- Achieve Agency

**Gold**

- Webenabled
- Commerce Guys

**Silver**

- Acquia
- OSTraining
- Hot Sauce
- Code Journeymen
- Palantir.net

**Bronze**

- Redfin
- Kanopi
- Lullabot

This represents $8,250.

In addition there's more than a

[2017-11-17 18:33] roberts365 commented on #106
Assign it to me.

So we are looking at Gold shirts this year?
Natalie

[2017-11-17 18:45] Ky1e commented on #106
Hey Natalie, thanks for volunteering! I sent you an invite to the group so I can assign it to you. Thanks!

Kyle

[2017-11-17 21:20] Ky1e commented on #106
Thanks!

[2017-11-19 18:19] jeppy64 commented on #128
Just some dev notes so everyone knows the new stuff:

1: The Venue Room has been broken away from the Venue content type and added as a child of the Event. This allows the Venue Room entity reference view on the Schedule Item only pull rooms available for that on e event.

2: Registration URL has been added as a link field for url and button text control. Also Updated the Event Taxonomy to include

[2017-11-19 19:24] grshane commented on #128
@ultimike Theming is going well. I’ll be pushing up some more changes into dev soon.

[2017-11-22 15:34] Ky1e commented on #128
Hey @grshane, we're looking to get this launched by the beginning of Dec. Is that still looking like it possible?

Kyle

[2017-11-22 18:15] grshane commented on #128
Yes, I've been hammering through some things this week. I have all day Friday to dedicate to this as well. The hero is fixed after the change to Slick and I'm currently working on the schedule and serializing the data for that to be a decoupled block.

[2017-11-24 16:30] jeppy64 commented on #128
Few dev notes for ya guys....

1: Added RRSB (ridiculously responsive share buttons) and library. Added to Event Node Path block visibility group.
2: Added Twitter block to footer region on Event Node Path block visibility group..
3: New content type added for Presenter Record (prec). Serves as a wrapper record on each event schedule item (sitm) to reference to Attendee (atte). Result - store atte

[2017-11-25 21:40] JCL324 commented on #92
NO!! Comfort Suites is over. We want the one right behind Bubbalous, where @C13L0 stayed and was very impressed. And I think she paid a bit less _without_ the discount.

[2017-11-26 22:47] C13L0 commented on #92
@JCL324  is correct! I stayed at the Hilton Garden Inn next to Bubbalous. My bed was comfortable (gasp), the room was quiet (gasp), there was a nice bar in the evenings, and breakfast was excellent.

I paid a total of 318.49$ for three days.

Hilton Garden Inn Orlando East/UCF Area
1959 N. Alafaya Trail, Orlando, FL 32826
T:  1 407-992-5000

[2017-11-26 22:48] C13L0 commented on #92
OH, the only thing I can recommend is to bring plenty of chargers. Unlike most hotels that have charging ports...they had none. /sighs

[2017-11-27 15:53] Ky1e commented on #92
Fancy shmancy. I'll give them a ring and see what's what. Do we have a count for the room block from last year @ultimike ?

[2017-11-27 16:02] ultimike commented on #128
Yeah, might be good for you, @mherchel, @Ky1e, and myself (and maybe @grshane) to schedule a call?

[2017-11-27 16:50] ultimike commented on #92
I do not, but I believe that @mherchel will.

[2017-11-27 16:51] mherchel commented on #92
probably 40 room nights. I need to reach out to hotels to make sure we get a couple free nights for our featured speakers.

[2017-11-27 16:52] mherchel commented on #128
I'm pretty much avail for a meetup. I was hoping to get the website up early this week.

[2017-11-27 18:52] grshane commented on #128
A call may be good. I am hoping for this week as well for launch.
ᐧ

On Mon, Nov 27, 2017 at 11:52 AM, Michael Herchel <notifications@github.com>
wrote:

--
Gregg Shanefelt

[2017-11-27 21:01] ultimike commented on #128
I'm not available tomorrow, but Wednesday morning, or most of Thursday and Friday are open for me. Feel free to schedule without me, if need be (although I'd like to be there).

[2017-11-28 02:01] mherchel commented on #128
How about Thursday morning?

[2017-11-28 13:08] ultimike commented on #128
Does Thursday morning at 9am work for everyone (@jeppy64 @grshane @mherchel @Ky1e, anyone else?)

If so, I'll set up a GoToMeeting invite.

[2017-11-28 14:03] grshane commented on #128
Works for me. I'll have stuff up before the call so we can look at it together if needed.

[2017-11-28 15:19] mherchel commented on #128
👍 👍 👍

[2017-11-28 15:26] jeppy64 commented on #128
works for me too

[2017-11-28 18:38] Ky1e commented on #128
I'M HERE! Thursday at 9am works for me.

[2017-11-28 21:16] ultimike commented on #128
Let's do it - meet here: https://global.gotomeeting.com/join/436706013

Thursday, November 30, 9am EST.

-mike

[2017-12-01 21:56] grshane commented on #128
Site can be viewed at http://dev-relativity-for-event-management.pantheonsite.io/

[2017-12-02 00:05] mherchel commented on #128
Looking good! Is there an ETA on completion, or should we do another call?

Thanks for all the work on this.

[2017-12-04 14:26] grshane commented on #128
If there are specific issues, would you mind creating a ticket for those?

[2017-12-04 14:30] ultimike opened #129 "Accordion (or something else) for "Event Blocks on Event (eblo)""
Greg,

I'm not sure if this is something that we need Claudio's input on, but I know that @jeppy64 and I talked about the various blocks in the "Event Blocks on Event (eblo)" being collapsible, as we're likely to have a few of those, each with more than a paragraph or so of content in each.

We want to make sure the page doesn't end up being 6 miles tall, so the thought was to have all these block

[2017-12-04 14:30] ultimike commented on #128
Here's one: https://github.com/florida-drupalcamp/fldc-issues/issues/129

[2017-12-04 14:33] mherchel commented on #128
Yeah, I can load some up, but I didn't know if they were already being worked on or whatever. Thanks for all the help!

[2017-12-04 14:37] jeppy64 commented on #129
Hey Guys,

In the codebase is the old workhorse module Collapse Text. So we can easily wrap block content in collapse my text here /collapsed

Here's the module: https://www.drupal.org/project/collapse_text

[2017-12-04 14:40] mherchel opened #130 "Website: Need pages for 'Submit session', & 'Become a sponsor'"
Website: Need pages for 'Submit session', & 'Become a sponsor'

![image](https://user-images.githubusercontent.com/1605905/33558155-2df10d08-d8d7-11e7-8fea-8063958f87d9.png)

[2017-12-04 14:41] mherchel opened #131 "Website: Description text overflows at narrow widths"
![image](https://user-images.githubusercontent.com/1605905/33558215-4dca3ece-d8d7-11e7-8065-64f78e8a920f.png)

[2017-12-04 14:42] mherchel opened #132 "website: Featured speakers do not collapse properly at mobile width"
These should start stacking at some point

![image](https://user-images.githubusercontent.com/1605905/33558250-64d269d4-d8d7-11e7-81e0-d95378780a03.png)

[2017-12-04 14:42] mherchel opened #133 "Website: Proposed session overflows at narrow widths"
![image](https://user-images.githubusercontent.com/1605905/33558295-7973e4ee-d8d7-11e7-955a-d85acce3dd37.png)

This could be causing horizontal scrolling.

[2017-12-04 14:43] mherchel opened #134 "website: Location blocks not themed"
These are not themed

![image](https://user-images.githubusercontent.com/1605905/33558351-97471900-d8d7-11e7-97b5-db82af5c55b0.png)

[2017-12-04 14:44] mherchel opened #135 "Website: About links to general about page"
But it's next to the FLDC logo

http://dev-relativity-for-event-management.pantheonsite.io/about

[2017-12-04 14:44] mherchel opened #136 "website: Need schedule template"
How are we going to handle this?

[2017-12-04 14:45] mherchel commented on #128
I just created issues 130 - 136. I have some more questions and issues coming up if needed.

[2017-12-06 16:18] grshane commented on #129
I added the collapsible sections. Waiting on Claudio to get me some better ideas on the UX. Suggestions welcome.

[2017-12-06 17:57] modulist commented on #129
subscribing...

[2017-12-08 18:44] modulist commented on #129
I don't think the accordion or collapsible sections work well at all. I think we've reached a limit to how much content we want to put on a single home page, and that much of this would be more easily found on an **About** page or a **Speakers** page. That's what I had envisioned when I proposed having the info icon in the proposed menu.

![top menu - mobile](https://user-images.githubusercontent.

[2017-12-11 01:00] shaal commented on #132
I'm starting working on this

[2017-12-11 06:05] grshane commented on #130
Fixed commit: ddc10da0b7

[2017-12-11 08:28] shaal commented on #132
I submitted changes in 'david' branch. (please notice it includes some config update for views and image style)
https://david-relativity-for-event-management.pantheonsite.io/

[2017-12-14 02:20] grshane commented on #132
Fixed ready for review from FLDC group. @mherchel

[2017-12-14 03:05] grshane commented on #133
Addressed via commit 3d2b62014

[2017-12-14 20:34] gscampbell64 commented on #121
I may be a little behind the 8-Ball on this but I'm on it!  Need links from @ultimike.

[2017-12-17 15:20] ultimike commented on #121
@gscampbell64 I just shared the Google Sheet with you as well as a bunch of info about it.

[2017-12-21 15:42] Ky1e commented on #93
@ultimike ^

[2017-12-23 14:05] mherchel commented on #92
@JCL324 @C13L0  I contacted the Hilton Gardens (behind Bubbalous) they don't have room for a room block. But they do have some rooms avail if you want to reserve now. I've contacted Comfort Suites again.

What's the gripe so I can bring it up to the person?

[2017-12-28 19:38] JCL324 commented on #92
It's noisy if you get a room on Alafaya, and no black out curtains for the street lights. @C13L0 thought the beds were terribly uncomfortable.

[2018-01-04 21:29] carolineachee commented on #118
Mike,

I see that the registration data is not on the website. Could I get a Eventbright dump to see how things are going or a logon for eventbright?

Thanks,
Caroline

[2018-01-04 22:01] andrewmriley commented on #104
I should probably update this. Waiting to hear back from Gringos.

[2018-01-05 13:43] ultimike commented on #118
Caroline,

No problem - I'll export and send you a .csv now.

thanks,
-mike

[2018-01-05 14:21] C13L0 commented on #114
These are my recommendations

**For presenters**
50 @ 7.99  ($479.50)
https://www.discountmugs.com/product/pllg9354-customized-venezia-quilted-memo-pad-sets/

**For everyone**
375 at $1.16 each ($435.00)
Similar to Cielo’s little book ;)
https://www.discountmugs.com/product/sm3482-custom-printed-recycled-pocket-notebooks/

300 at $1.46 each ($438.00) Water bottle neoprene insulator
https://www.dis

[2018-01-05 20:22] ultimike commented on #111
List of trainings to be posted on the web site (@mherchel pay attention!):

*  Kelly - Agile
*  John - React
*  Wes - CSS
*  Steve - beginner
*  Mike - config system

I will get all the descriptions and post on the site, after that, I'll update the registration form as well as email previously registered folks about these.

-mike

[2018-01-05 20:26] ultimike commented on #126
@Ky1e Will touch base with FTC to ensure all is still on-track. Find out what, if anything, we need to do for security and/or custodial stuff.

[2018-01-05 20:27] ultimike commented on #115
@StevenGFX Please confirm that you're still interested in helping out with this.

thanks,
-mike

[2018-01-05 20:32] ultimike commented on #114
@C13L0 During a call today with @mherchel and @Ky1e, none of the three of us are super-crazy about the presenter swag - are there any other options? How about branded flip-flops - see http://www.customlogoflipflops.com/ - we think these would be a fun and desirable gift, especially if they're good quality.

We're cool with the rest of the swag.

Thoughts?

[2018-01-05 20:34] ultimike commented on #113
@Bowevil Fantastic! Let's discuss soon.

[2018-01-05 20:34] C13L0 commented on #114
I think that is a great idea but how are we going to get the sizes needed?

[2018-01-05 20:36] Ky1e commented on #114
Could be registration form or just order generic sizes.

[2018-01-05 20:43] JCL324 commented on #114
Are flip flops really that popular with non-Floridians which are a large part of our speaker base? And they don't last very long either. I would think we'd want something a bit more permanent that would would be useful more times of the year.

[2018-01-05 20:45] Ky1e commented on #114
Could hang the flippy floppys on the wall.

[2018-01-05 20:46] ultimike commented on #114
@JCL324 How about indoor flip-flops?

@C13L0 In looking at the numbers, let's try to keep the total swag budget to under $2k.

[2018-01-05 20:48] ultimike commented on #106
@roberts365 Do you need anything from me to get going on this issue?

-mike

[2018-01-05 21:29] JCL324 commented on #114
How about socks? Everyone uses them and sizing is much easier. Quick Google showed this: http://www.awesome-sports.com/Custom-Logo-Sports-Knee-High-Socks.html

[2018-01-05 22:09] andrewmriley commented on #104
Spoke with Phil at Gringos. He's going to send over the initial paperwork with estimates. He did say since he knows this is an anniversary year that they can do some special catering stuff. We talked about possibly doing a hot item for breakfast and possibly something special at snack time.  Any ideas for this would be appreciated.

I also owe Phil a copy of the schedule (when registration starts,

[2018-01-05 23:57] C13L0 commented on #114
Everyone...as in guys

Those are not the type of socks that women wear

[2018-01-06 00:00] C13L0 commented on #114
For women:
http://www.awesome-sports.com/Ankle-Socks-Quarter-Socks-For-Women-And-Men

[2018-01-06 00:10] C13L0 commented on #114
If you guys want to go with socks, I would recommend the "cool" no show or low cut here:
http://www.customlogoflipflops.com/custom-socks

just to point out this is much more expensive than my original suggestion

[2018-01-06 16:21] ultimike commented on #111
All training descriptions on are the site except for Steve Burge's - I just emailed him requesting a title and description.

Once I have Steve's, I'll do the following:

1.  Add it to the /training page.
2.  Add the options to EventBrite.
3.  Email all current registrations asking them if they'd like to signup for a training - I'll have to handle these manually :(
4.  I'll coordinate with @gscampb

[2018-01-06 16:31] ultimike commented on #107
Looking at this bag for this year: https://www.holdenbags.com/products/two-tone-little-storm

@mherchel @Ky1e Which image should I use? Do I need one with no background? Orange bags this year to match the logo, correct?

[2018-01-07 16:38] StevenGFX commented on #115
@ultimike Iam!

[2018-01-07 17:09] ultimike commented on #111
I've received Steve's information, and have taken care of steps 1 and 2 above. In a few days, I'll take care of the remaining steps.

-mike

[2018-01-08 18:24] Ky1e commented on #114
I actually prefer thigh high if we could throw this in the ring for consideration. Something like this,

http://www.partycity.com/product/adult+christmas+thigh+high+stockings+with+bows.do

[2018-01-08 18:30] runnergirl1 opened #137 "Beach Towel Swag"
I talked with Janellew@towelsoutlet.com regarding information in the purchasing of a large quantity of beach towels, as potential swag for the Florida Drupal Camp.  She was extremely helpful and knowledgeable.  Here is what I found out (which btw sounds VERY doable if the cost fits within the Camp's budget!)

They are located in Miami. . .being a "Florida" order, you would get it even sooner.
Thei

[2018-01-08 21:10] roberts365 commented on #106
@ultimike I will need the vector file for the design and date you want the shirts delivered.

[2018-01-09 13:59] ultimike commented on #106
@Ky1e Can you get @roberts365 what she needs?

thanks,
-mike

[2018-01-09 22:19] ultimike commented on #107
- 250 bags with 1-color imprint: $610
- 250 bags with 2-color imprint: $786

Thoughts?

[2018-01-10 14:18] carolineachee commented on #107
Two colors would be good.....

[2018-01-10 14:19] carolineachee commented on #118
Mike,

Do you have a registration code for the Key speakers... I would like to start making sure that all the speakers/presenters are registered.

Thanks,
Caroline

[2018-01-11 13:41] ultimike commented on #118
@carolineachee Please ensure that we have a different color lanyard for folks that don't want their photos taken during the event.

[2018-01-11 13:43] ultimike commented on #118
@carolineachee I'll email the featured speakers right now and let them know to use the `fldcvolunteer` registration code.

[2018-01-11 16:01] Bowevil commented on #113
I will be moving up to VA for a fantastic Drupal opportunity starting on the Feb. 22nd. I am not sure if I can still help on this.

[2018-01-11 21:46] Ky1e commented on #106
All the files should be here, https://www.dropbox.com/sh/m0zbakjsz54ip43/AAB034RgjV7nhVT6W3r_rRj2a?dl=0

It's the same design for the bags, with the transparent background to save on a color for shirts.

[2018-01-11 22:52] capysara commented on #113
Can I just reply to this email?

I can do this.

On Jan 11, 2018 11:01 AM, "Michael Tripp" <notifications@github.com> wrote:

[2018-01-11 23:23] Bowevil commented on #113
That sounds good to me. Thanks @capysara

[2018-01-12 11:42] C13L0 commented on #137
I think this is a great idea! Please follow up with @ultimike on this =)

[2018-01-12 12:36] ultimike commented on #113
Thanks, @capysara. There's nothing for us to do yet regarding this, it's mostly day-of stuff.

thanks,
-mike

[2018-01-12 15:37] ultimike commented on #137
Thanks @C13L0!

At this point, the only swag we have left to figure out and determine is for presenters and sponsors (about 75 pieces). If someone would like to take this task and run with it, let us know. We would like to keep the cost to less than $10/piece.

-mike

[2018-01-12 15:39] ultimike commented on #107
I also received some feedback on Slack about spending the extra $$$ for 2-color bags. I'm submitting the order today.

[2018-01-12 19:02] ultimike commented on #107
The bags have been ordered (full color, not 2-color).

[2018-01-15 18:03] C13L0 commented on #114
Text changed to outlines for printing purposes. Uploading print ready ai (zipped) and pdf files.
[drupal-18-print-ready.pdf](https://github.com/florida-drupalcamp/fldc-issues/files/1632599/drupal-18-print-ready.pdf)
[drupal-18-print-ready.ai.zip](https://github.com/florida-drupalcamp/fldc-issues/files/1632601/drupal-18-print-ready.ai.zip)

[2018-01-15 18:44] C13L0 commented on #114
AI file without background. @roberts365 will need this for t-shirts

[drupal-18-print-ready-nobg.pdf](https://github.com/florida-drupalcamp/fldc-issues/files/1632687/drupal-18-print-ready-nobg.pdf)
[drupal-18-print-ready-nobg.ai.zip](https://github.com/florida-drupalcamp/fldc-issues/files/1632690/drupal-18-print-ready-nobg.ai.zip)

[2018-01-15 19:08] C13L0 commented on #114
@Ky1e

Could we get the logo's with less colors? We can't afford the full color.

- [ ] One color logo
- [ ] Three color logo

[2018-01-16 13:52] ultimike commented on #111
Current registration counts for each class:

- CSS: 9
- Config management: 7
- React: 6
- Intro to D8: 4
- Agile: 3
- Backdrop: 0

[2018-01-17 17:09] carolineachee commented on #118
@ultimike

We have some red lanyards we can use.

Caroline

[2018-01-18 14:21] C13L0 commented on #114
@ultimike I'm not sure who created this years logo but I really need it in a one color and three color

[2018-01-18 15:18] ultimike commented on #114
You had it correct the first time - it is @Ky1e. I'll ping him on Slack as well.

[2018-01-18 17:39] Ky1e commented on #114
Sent all needed files on Slack and saved them all in Dropbox.

[2018-01-22 14:16] ultimike commented on #114
Cielo,

Safe to assume all the swag is ordered?

thanks,
-mike

[2018-01-22 14:16] ultimike commented on #106
@roberts365 Are we good to go here?

[2018-01-22 14:17] ultimike commented on #124
@helenasue How is this task going? How many sessions have been accepted? Have all accepted presenters been notified? Is everything on-track?

thanks,
-mike

[2018-01-24 15:41] ultimike commented on #111
Updated counts.

- CSS: 9
- Config management: 9
- React: 11
- Intro to D8: 6
- Agile: 3
- Backdrop: 0
- Accessibility: 0

[2018-01-24 16:15] ultimike opened #138 "Swag for presenters and sponsors"
We'd like to get some special swag for presenters, workshop trainers, and sponsors, but we need a volunteer to task this task on.

The budget is roughly $10/item, with a quantity 75 pieces.

Ideas for this have been discussed:

- https://github.com/florida-drupalcamp/fldc-issues/issues/114
- https://github.com/florida-drupalcamp/fldc-issues/issues/137

But we're open to anything cool and branded w

[2018-01-24 23:35] carolineachee commented on #118
@ultimike!

Can I get a new Eventbright dump??

Thanks,
Caroline

[2018-01-25 13:26] ultimike commented on #118
@carolineachee Yep - I'll email it to you now.

Also - heads-up, Achieve will be supplying lanyards again this year - they'll be drop-shipping them directly to me.

-mike

[2018-01-25 19:33] roberts365 commented on #106
So no gold?  Okay.  Any issues with the t-shirts being light Gray?

[2018-01-25 19:49] ultimike commented on #106
Any color works for me as long as they look cool.

-mike

On Thu, Jan 25, 2018 at 2:33 PM, roberts365 <notifications@github.com>
wrote:

[2018-01-26 14:50] jordanafung commented on #138
So how about a thermos/tumbler thingy:
- http://www.drinkbranders.com/custom-travel-mugs/16-oz-stealth-mug.html - $480
- http://www.drinkbranders.com/custom-contigo/16-oz-byron-by-contigo.html - $1008

This is something that is not gender or age specific, can be used by everyone regardless of where in the world the are.

About the options:
We could also purchase the Contigo ourselves and let a loc

[2018-01-27 13:58] ultimike commented on #138
@jordanafung Do the prices you have listed above include our branding on each item?

[2018-01-29 20:24] ultimike commented on #111
Updated counts.

- CSS: 10
- Config management: 11
- React: 12
- Intro to D8: 7
- Agile: 5
- Backdrop: 0
- Accessibility: 1

[2018-01-31 02:52] carolineachee commented on #106
I like the idea of gray...

[2018-01-31 03:00] carolineachee commented on #118
@ultimike  I just want to make sure ... presenters need to pay for camp? I have done some checking and 1/2 of the approved session presenters are not registered and there is only 12 sessions approved... Do you know when the rest of the session will be approved.

count
Men  -  91
Women -  42
Total - 133

Thanks,
Caroline

[2018-01-31 03:13] carolineachee commented on #118
@ultimike Could you get me a list of the corporate sponsors names so that I can make sure they are marked for the sponsor ribbon... Also can I get included in the dump the individual sponsors?

Thanks,
Caroline

[2018-01-31 12:53] ultimike commented on #118
Caroline,

Sessions have been approved - notifications will be going out today or tomorrow. If a presenter asks, we will provide them with a free registration code.

You already have access to the Sponsorships spreadsheet - I'll email you the link now.

thanks,
-mike

[2018-02-01 13:40] carolineachee commented on #118
Mike,

Thanks for the update!

Caroline

From: Michael Anello [mailto:notifications@github.com]
Sent: Wednesday, January 31, 2018 7:53 AM
To: florida-drupalcamp/fldc-issues <fldc-issues@noreply.github.com>
Cc: Caroline Achee <cachee@cfl.rr.com>; Mention <mention@noreply.github.com>
Subject: Re: [florida-drupalcamp/fldc-issues] Registration (#118)

Caroline,

Sessions have been approved - notificat

[2018-02-02 14:08] ultimike commented on #111
New counts.

- CSS: 10
- Config management: 11
- React: 12
- Intro to D8: 8
- Agile: 5
- Backdrop: 0
- Accessibility: 1

[2018-02-05 18:31] roberts365 commented on #106
Here is the rundown of the t-shirts so far with 143 people.

We have two options be gender.
Mens Ultra Cotton 6oz and Mens Heavy Cotton 5.3oz
Ladies Ultra Cotton and Ladies Softsyle

Mens Ultra Cotton 6oz Open Yarn |   |  
-- | -- | --
Size | Quantity | Cost Per Shirt | Sub Total
small | 2 | $8.95 | $17.90
medium | 19 | $8.95 | $170.05
large | 35 | $8.95 | $313.25
xLarge | 25 | $8.95 | $223.75
xxL

[2018-02-05 18:37] ultimike commented on #106
@roberts365 and I spoke on Feb 5, and we're going to go with "Mens Heavy Cotton + Ladies Ultra".

[2018-02-06 13:59] andrewmriley commented on #104
@Ky1e @ultimike  I've got the estimated invoice but it has personally identifying info for me and Gringos so I'd rather not doxx us. Who should I email it to?

[2018-02-06 14:14] ultimike commented on #104
Send it to me, but cc Don (if you have his email address - if not, not
worries, I'll forward it).

One other thing - at this point, we're estimating 240 attendees on
Saturday.

thanks,
-mike

On Tue, Feb 6, 2018 at 8:59 AM, Andrew M Riley <notifications@github.com>
wrote:

[2018-02-09 15:40] ultimike commented on #110
@lscook has offered to help with this - I suggest that we give folks these options, ask them to choose one at registration:

Publix Chicken tender sub - roll or wrap
Publix Turkey sub - roll or wrap
Publix Ultimate sub - roll or wrap
Publix Veggie sub - roll or wrap
Publix Italian sub - roll or wrap
Publix Roast Beef sub - roll or wrap
Publix Ham sub - roll or wrap
Publix Tuna Salad sub - roll or

[2018-02-09 16:15] lscook commented on #110
Do you think they'll have enough time to get it all ready by 11:45 am if we get the order in by 9:15? How many are we expecting? I'll give Publix a call and talk to them and get back with you.

[2018-02-09 19:41] lscook commented on #110
Just got off the phone with Publix. They need the order 24 hours ahead of time. Bradley at Publix suggested we order a Sub Selection or a wrap variety platter for so many people. I told him between 50-70 people. Let me know what you decide.

Publix large sub selection serves 28 $60 http://www.publix.com/pd/publix-deli-sub-selections-large/RIO-PLT-104906?ch=6.10.
Publix large wrap plater serves 28

[2018-02-10 13:38] ultimike commented on #110
@lscook This is fine with me - let's get 5 of these, I'd say 2 sub platters and 3 wrap platters, with a good selection of different kinds of fillings(?), including some that are all veggie.

Would you mind handling placing the order, as well as getting the plates, napkins, etc prior to Friday? I'll still handle the bottled water.

Obviously, save your receipts, we'll pay you all back for everythin

[2018-02-10 14:18] ultimike commented on #111
Updated counts.

- CSS: 11
- Config management: 15
- React: 17
- Intro to D8: 11
- Agile: 6
- Backdrop: 0
- Accessibility: 1

[2018-02-12 11:44] ultimike commented on #111
...and another update:

Updated counts.

- CSS: 11
- Config management: 15
- React: 18
- Intro to D8: 11
- Agile: 6
- Backdrop: 0
- Accessibility: 1

[2018-02-12 16:01] lscook commented on #110
By "all veggie" does that me no cheese?

[2018-02-12 17:49] ultimike commented on #110
I think so, yes.

-mike

On Mon, Feb 12, 2018 at 11:01 AM, lscook <notifications@github.com> wrote:

[2018-02-12 20:10] lscook commented on #110
Platters are ordered. Details below:
Publix at TOWN PARK (#1440)
12231 EAST COLONIAL DRIVE
ORLANDO,FL-32826
407-482-1245
Pickup Date / Time: Friday, 02/16/18 at 11:00 AM Eastern
Pickup Name: Linda Cook
Pickup Number: 1440-9447

Yum yum.

[2018-02-12 20:12] ultimike commented on #110
Thank you!

-mike

On Mon, Feb 12, 2018 at 3:10 PM, lscook <notifications@github.com> wrote:

[2018-02-12 20:14] lscook commented on #110
You're welcome! BYOC--bring your own chips ;)

[2018-02-13 13:51] ultimike commented on #111
Moar numbers!

- CSS: 11
- Config management: 15
- React: 21 (sold out)
- Intro to D8: 15
- Agile: 7
- Backdrop: 0
- Accessibility: 1

[2018-02-13 19:14] ultimike commented on #117
The following sponsors have requested tables:

1. Webenabled/DevPanel
2. Lingotek
3. Johnson & Johnson
4. DrupalEasy
5. Drud
6. OSTraining
7. PayKings

[2018-02-14 12:32] ultimike commented on #111
T-2 days!

- CSS: 13
- Config management: 16
- React: 23 (sold out)
- Intro to D8: 16
- Agile: 8
- Backdrop: 0
- Accessibility: 2

[2018-02-15 15:16] ultimike commented on #111
Here's the final update on training registrations:

- CSS: 14
- Config management: 17
- React: 22 (sold out)
- Intro to D8: 16
- Agile: 9
- Backdrop: 0
- Accessibility: 2

[2018-02-15 16:33] Ky1e commented on #117
@lscook are we going forward with the ticket idea? We can probably retain a few of the key swag items to be given out.

[2018-02-15 16:35] ultimike commented on #117
I vote no. Keep it simple. Linda doesn't need to be doing more stuff.

On Thu, Feb 15, 2018 at 11:33 AM, Kyle <notifications@github.com> wrote:

[2018-02-16 01:53] lscook commented on #117
I agree with Mike.

[2018-02-16 02:04] lscook commented on #110
3 Biscuit and mustard platters, 1 french fried pertater platter, and a potted meat platter easy on the L & P. Should be something for everybody.

[2018-02-16 15:23] Ky1e opened #139 "Add option for women's shirts next year"
Leaving this here to be included in the retrospective

[2018-02-16 15:23] Ky1e commented on #117
I agree with Kyle so it's 2 v 2, what do we do now?

[2018-02-19 18:19] #115 closed

[2018-02-19 18:19] #116 closed

[2018-02-19 18:19] #117 closed

[2018-02-19 18:19] #118 closed

[2018-02-19 18:19] #119 closed

[2018-02-19 18:19] #120 closed

[2018-02-19 18:19] #121 closed

[2018-02-19 18:19] #122 closed

[2018-02-19 18:19] #123 closed

[2018-02-19 18:19] #124 closed

[2018-02-19 18:19] #125 closed

[2018-02-19 18:19] #126 closed

[2018-02-19 18:19] #127 closed

[2018-02-19 18:19] #128 closed

[2018-02-19 18:19] #129 closed

[2018-02-19 18:19] #130 closed

[2018-02-19 18:19] #131 closed

[2018-02-19 18:19] #132 closed

[2018-02-19 18:19] #133 closed

[2018-02-19 18:19] #134 closed

[2018-02-19 18:19] #135 closed

[2018-02-19 18:19] #136 closed

[2018-02-19 18:19] #137 closed

[2018-02-19 18:19] #138 closed

[2018-02-19 18:20] #92 closed

[2018-02-19 18:20] #93 closed

[2018-02-19 18:20] #94 closed

[2018-02-19 18:20] #95 closed

[2018-02-19 18:20] #96 closed

[2018-02-19 18:20] #99 closed

[2018-02-19 18:20] #101 closed

[2018-02-19 18:20] #102 closed

[2018-02-19 18:20] #103 closed

[2018-02-19 18:20] #104 closed

[2018-02-19 18:20] #105 closed

[2018-02-19 18:20] #106 closed

[2018-02-19 18:20] #107 closed

[2018-02-19 18:20] #108 closed

[2018-02-19 18:20] #109 closed

[2018-02-19 18:20] #110 closed

[2018-02-19 18:20] #111 closed

[2018-02-19 18:20] #112 closed

[2018-02-19 18:20] #113 closed

[2018-02-19 18:20] #114 closed

[2018-02-19 18:21] Ky1e opened #140 "FLDC18 Retrospective / Post Mortem"
https://docs.google.com/document/d/1VrgDJkq9rW7hjrEgNuRtGpM5yMIAbukBDJlUoNuzQA4/edit?usp=sharing

[2018-02-19 18:24] #139 closed

[2018-11-30 20:32] ultimike opened #141 "T-shirt design"
Dependent on a new logo.

[2018-11-30 20:32] ultimike opened #142 "Updated logo"
Herchel is on it.

[2018-11-30 20:33] ultimike opened #143 "T-shirt production"
Dependent on the t-shirt design https://github.com/florida-drupalcamp/fldc-issues/issues/141

[2018-11-30 20:34] ultimike opened #144 "Update web site design for site launch"

[2018-11-30 20:34] ultimike opened #145 "Update site content for launch"
Who else wants to help?

[2018-11-30 20:35] ultimike opened #146 "Secure hotel rooms"

[2018-11-30 20:36] ultimike opened #147 "Venue notes (2019)"
Contact info?
Estimated costs for security and janitorial?

In the 2018 post-mortem, we specifically discussed the need to have janitorial available all day on Saturday.

[2018-11-30 20:36] ultimike opened #148 "Session acceptance"

[2018-11-30 20:37] ultimike opened #149 "Friday full- and half-day trainings"
I'm willing to do one (module development).

Adam Bergstein and Ryan Bateman are interested in doing a Drupal + Gatsby training.

Possibly AmyJune on some contribution stuff.

Joe and Amber from Lullabot - theming

Steve Burge from OSTraining - intro to Drupal

React - John Tucker

[2018-11-30 20:41] ultimike opened #150 "Friday lunch"
Need to organize and provide lunch for training attendees.

In 2018, we ordered 5 Publix sandwich platter for 80 folks - probably 1 or 2 short. Also - need more vegetarian options.

[2018-11-30 20:41] ultimike opened #151 "Sponsorships"
Need to reach out to potential sponsors.

Sponsors so far:

* TBA - Platinum
* WebEnabled/DevPanel - Gold
* Johnson & Johnson - Gold
* Palantir.net - Gold
* DrupalEasy - Silver
* Message Agency - Silver
* Florida Association of Realtors - Silver
* SpinSpire Silver
* Hot Sauce Design and Development - Bronze

@Ky1e Feel free to reach out to Orlando.tech and other local organizations - I've attached

[2018-11-30 20:42] ultimike opened #152 "Session recording"
Kevin Thull is confirmed.

[2018-11-30 20:42] ultimike opened #153 "Marketing - emails"

[2018-11-30 20:42] ultimike opened #154 "Marketing - social media"

[2018-11-30 20:42] ultimike opened #155 "AV Wrangler"

[2018-11-30 20:46] ultimike opened #156 "Registration"
Caroline-world

Based on the 2018 camp retrospective, we added a question to the EventBrite registration asking attendees to enter in the name of the sponsor they are associated with.

[2018-11-30 20:46] ultimike opened #157 "Indoor signage"

[2018-11-30 20:47] ultimike opened #158 "Saturday catering"

[2018-11-30 20:47] ultimike opened #159 "Sunday food"

[2018-11-30 20:48] ultimike opened #160 "Swag"
Bags?
Other giveaways?
(t-shirts have a dedicated issue)

[2018-11-30 20:48] ultimike opened #161 "Badges"
WebEnabled/DevPanel will be providing branded lanyards as well as will have their logo featured on the front of the name badges (as part of their sponsorship).

[2018-11-30 20:49] ultimike opened #162 "Code of Conduct contacts"
Jordana and Mike will be the contacts.

[2018-11-30 20:50] ultimike opened #163 "Party"
@mherchel Do you want to contact them about sponsoring the party?

[2018-11-30 21:25] ultimike opened #164 "Session scheduling"
Sunday sessions should start at 10am and end by 3pm.

[2018-11-30 21:30] ultimike opened #165 "Website - EventBrite integration"
Matthew is looking into updating the D7 EventBrite module so that we can pull in and display attendee data on the site.

[2018-11-30 21:35] ultimike commented on #151
[FLDC Sponsorship Opportunities 2019 (v1.0).pdf](https://github.com/florida-drupalcamp/fldc-issues/files/2635038/FLDC.Sponsorship.Opportunities.2019.v1.0.pdf)

[2018-11-30 22:01] ultimike opened #166 "Sunday sprints"
Need to make sure this page is up-to-date: https://www.fldrupal.camp/contribution-sprints

[2018-11-30 22:11] AmyJuneH commented on #166
I can create and change this copy this weekend.

[2018-12-01 01:18] lscook commented on #145
I can help.

On Fri, Nov 30, 2018 at 3:34 PM Michael Anello <notifications@github.com>
wrote:

--
*Linda Cook*
*321-720-4461*

[2018-12-01 15:15] mherchel opened #167 "Discounts"
What discounts should we offer?

My thought is student, volunteer, and non-profit.

![image](https://user-images.githubusercontent.com/1605905/49329746-f4062680-f551-11e8-88e0-6dc311b93090.png)

[2018-12-01 15:16] mherchel commented on #144
Launched!

[2018-12-01 15:16] #144 closed, assigned to mherchel

[2018-12-01 15:18] mherchel opened #168 "Update mailchimp email header to reflect fldc19"

[2018-12-01 16:38] lscook commented on #159
I can do this if you want subs from publix again.

[2018-12-01 19:14] ultimike commented on #150
@lscook Interested in handling Friday food (in addition to Sunday food)?

-mike

[2018-12-01 19:15] ultimike commented on #159
Linda - great! Thank you - I just assigned this task to you.

I think we did subs on Friday last year - Sunday is normally pizza along with a Publix run for drinks.

Sunday morning is just a big Dunkin Donuts run for coffee and donuts. I normally bring a couple of cases of water along as well.

-mike

[2018-12-01 19:16] ultimike commented on #166
Thank you, @AmyJuneH!

-mike

[2018-12-01 19:24] ultimike opened #169 "Registration discounts for speakers, volunteers, and students"
We have a free registration discount code for speakers and volunteers - ask Mike H, Mike A, or Kyle H for it on Slack if you're a volunteer.

In addition, we have a free discount code for FTC students and staff.

What, if any, discount do we want to provide to full-time students?

-mike

[2018-12-01 20:32] ultimike commented on #151
59 sponsorship outreach emails went out today 🤞

[2018-12-01 20:45] mherchel commented on #169
lets do a $25 off for students. What about small non-profits?

[2018-12-02 01:17] AmyJuneH commented on #166
Badcamp had some folks from the community display some discord over the word "Sprint" - Could the menu link be changed ??
@ultimike

[2018-12-02 01:29] AmyJuneH commented on #169
QQ - early bird tickets are 50. Early bird sponsor tickets are 100... but the wording is "you are donating $25. Should the price point for early bird individual sponsor be $75?
![screen shot 2018-12-01 at 5 28 56 pm](https://user-images.githubusercontent.com/20327232/49334604-b5db2800-f58e-11e8-8667-9b5561ace222.png)

[2018-12-02 02:16] mherchel commented on #169
That's it, @ultimike. you're fired :)

[2018-12-02 02:18] mherchel commented on #169
fixed

[2018-12-02 14:39] ultimike commented on #169
Don't tease me.

[2018-12-02 14:40] ultimike commented on #169
I'm fine with $25 off for students and non-profits. How should we handle that? Coupon code? Alternate ticket type that folks can select from (honor system)?

-mike

[2018-12-02 14:41] ultimike commented on #166
Change to "Community day"? Something else?

[2018-12-02 15:46] mherchel commented on #169
That's a good question. I don't mind the honor system, because if people are going to cheat at it, I'd still rather them cheat and attend, then not attend at all. We could also include an extra field where it asks for your college /NPO. That'd make people less likely to cheat IMO.

[2018-12-02 16:06] AmyJuneH commented on #166
I changed the menu title, looks good on wide screen and mobile.

Changed copy to reflect having mini sprint workshops. Changed the word "sprint" when appropriate.

[2018-12-02 16:07] #166 closed, assigned to AmyJuneH

[2018-12-02 16:10] AmyJuneH commented on #154
IF no one else is available I can do the social media up to the event... but not at the event. 1 hour week.

[2018-12-02 17:47] mherchel commented on #168
dun

[2018-12-02 17:47] #168 closed, assigned to mherchel

[2018-12-02 18:01] AmyJuneH opened #170 "Set up Drupal community project page for attributions"
See BADCamp project for example.
https://www.drupal.org/project/badcamp

[2018-12-02 20:14] AmyJuneH commented on #170
https://www.drupal.org/project/fldc2018
made
@ultimike and @mherchel co-maintainers...fell free to add others.

I will create issues as we move forward.

[2018-12-03 14:02] mherchel opened #171 "Update fldrupalcamp.org SPF DNS record"
@JCL324 Can you update the SPF txt record for the `fldrupalcamp.org` domain?

Transactional emails are ending up in spam bins, and this should resolve this.

The updated value is:
`"v=spf1 include:_spf.google.com include:spf.pantheon.io include:servers.mcsv.net ~all"`

[2018-12-03 14:19] lscook commented on #159
Sure. I'll need help though. I'm looking for volunteers. I can probably pick up coffee and donuts on my way in.

[2018-12-03 14:22] lscook commented on #150
Yes. I will need help picking up the platters and everything that goes with it. Mike H. helped me last year. Is it possible to arrange it so that no one misses a part of their training in order to help me? That was an issue last year.

[2018-12-03 15:01] lscook commented on #155
I'm looking for volunteers.

[2018-12-03 18:46] mherchel commented on #146
done
https://www.fldrupal.camp/lodging

[2018-12-03 18:46] #146 closed, assigned to nobody

[2018-12-03 19:05] ultimike opened #172 "In-kind sponsorships"
Drupalize.me - two 6-months memberships for us to give away.

[2018-12-03 19:21] JCL324 commented on #171
Done. Here are the updated records:
<img width="994" alt="image" src="https://user-images.githubusercontent.com/2161188/49396251-87c02a00-f6ed-11e8-990b-90ad1c0d4532.png">

The TTL was "default", not sure what it that value is. Changed to 5 min. but might take a bit to propagate.

[2018-12-03 19:39] JCL324 commented on #171
Verified on SPF lookup here: https://mxtoolbox.com/SuperTool.aspx?action=mx%3afldrupalcamp.org&run=toolpage#.

[2018-12-03 19:39] #171 closed, assigned to JCL324

[2018-12-04 00:37] mherchel opened #173 "Reach out to JetBrains for giveaways"
https://www.jetbrains.com/community/support/#section=communities

[2018-12-04 02:45] mherchel commented on #173
Just submitted this.

[2018-12-04 02:45] #173 closed, assigned to mherchel

[2018-12-04 02:53] mherchel commented on #172
We should print out a certificate, so we have something to hand out. They typically just give us coupon codes. Can we create a task for this ?

[2018-12-04 15:37] lscook commented on #160
There's a great new DDev book.

[2018-12-05 16:49] ultimike commented on #172
I don't think we need a separate task - just someone willing to take charge of this task.

[2018-12-05 19:40] ultimike commented on #151
I spoke with Aaron from J&J about their Gold sponsorship:

- He's going to get back to me with what would help them make the most out of their sponsorship.
- I let him know that invoices and requests for sponsor info was going out this weekend.

-mike

[2018-12-06 13:43] mherchel commented on #145
I think we already got this done. Going to close this and we can update the site as needed.

[2018-12-06 13:43] #145 closed, assigned to mherchel, ultimike

[2018-12-06 13:44] mherchel commented on #149
@AmyJuneH are you handling trainings? We need to start reaching out to everyone and get content on the site.

[2018-12-06 14:15] jordanafung commented on #149
Hey @mherchel I was going to do this.
Will send these out today!
Where can I find the email addresses for everybody?

[2018-12-06 14:28] mherchel commented on #149
Awesome! Just sent you an invite so we can assign it to you. Can you set up a google spreadsheet and share it with me, and i'll update it?

[2018-12-06 14:32] jordanafung commented on #149
Great thanks!
I haven't gotten an invite as yet (not sure what I am looking for?)
Here is the Google Sheet:
https://docs.google.com/spreadsheets/d/1Q31HiPZ5Ta7Cqbay6gSJaKWGYBtsKGUgoQ1Qz7HwEFY/edit?usp=sharing

[2018-12-06 14:34] mherchel commented on #149
Just invited you to this github org. It looks like @ultimike did it before, so you might have to dig through your email

![image](https://user-images.githubusercontent.com/1605905/49590531-24770780-f93a-11e8-9f05-89ca656402a3.png)

I'll input stuff in the spreadsheet

[2018-12-06 14:42] jordanafung commented on #149
Thanks Mike!

[2018-12-06 16:12] mherchel commented on #172
FYI, JetBrains is giving us 3 licenses to give away. Plus a bunch of stickers. #173

[2018-12-06 16:37] AmyJuneH commented on #172
OK - let me know what I have to do, I will be more available next Monday after I get back from Nashville

[2018-12-06 21:46] ultimike commented on #172
I've received the coupon codes for Drupalize.me and have put them in our Google Drive.

[2018-12-06 21:50] gscampbell64 commented on #154
I'm in for social media but would LOVE to have Amy June working together on it!

[2018-12-07 01:56] jordanafung commented on #149
Hey guys - just wondering if there is an email address I need to cc for the Florida camp stuff?
Here is the template for the email I want to send out:

Hi {{ NAME }}
My name is Jordana Fung and am contacting you on behalf of the organizers of Florida Drupalcamp 2019 <<https://fldrupal.camp>> .
We've understood that you may be interested in presenting a training about {{ TOPIC }} at our Florida cam

[2018-12-07 13:22] ultimike commented on #149
@jordanafung You can cc info@fldrupalcamp.org

[2018-12-07 13:27] mherchel commented on #149
Also note that they do not need to submit a session. The session nodes are different than the training nodes (which you'll create)

[2018-12-07 13:28] jordanafung commented on #149
Cool - I'll change the text about session submission to make it clearer that they can also submit a session.
Can you guys help me fill out some details on the length for the Full vs half day training? and what time we want to start?

Thanks!

[2018-12-07 13:30] mherchel commented on #149
Starts at 9am. Break (with food - usually publix subs or something) at noonish, then continue till 3ish.

The instructor can obviously go shorter or longer if they desire.

[2018-12-07 13:30] mherchel commented on #149
We'll have folks in the building at 8:30 to start taking registrations, and point people where to go

[2018-12-07 13:31] jordanafung commented on #149
Ok, just to verify -  so full day is 9 - 3 with a lunchbreak around noon. and half day is 9 - 12?

[2018-12-07 13:34] mherchel commented on #149
Yes. But instructors can modify that as they see fit.

[2018-12-07 13:44] ultimike commented on #149
Full day is 9-4. We can also do half-days from 1-4 if instructors prefer.

[2018-12-07 13:51] jordanafung commented on #149
Oops - luckily I just sent you the first email to test out :)
Updated the times in template above

[2018-12-07 14:00] jordanafung commented on #149
@ultimike can you check to see if you approve of the 2nd email (times edited) and I'll send out the rest.
Thanks guys!

[2018-12-12 00:44] jordanafung commented on #149
Emails sent - will update spreadsheet accordingly

[2018-12-12 05:09] AmyJuneH commented on #154
@gscampbell64 Let me know when/what help you'd like!!

[2018-12-15 01:22] AmyJuneH commented on #154
@gscampbell64 hey george!!
I started a spreadsheet for sponsor tweets and @mherchel had an idea for throwback thursday tweets of vids from previous years. the spreadsheet is here:
https://docs.google.com/spreadsheets/d/1n--D3tAMDugHRgkZHnKZy8EIIRWzoHldJKlc8dvdAxs/edit#gid=0
and i started a buffer account - its tied to my personal one - so no abuse!! hahaha
email me for buffer creds.
 volkswagenchi

[2018-12-15 02:11] AmyJuneH commented on #172
@AmyJuneH ping kanopi about assets

[2018-12-15 16:22] gscampbell64 commented on #154
AmyJune,

In past years I have used the Drupal Camp Sponsor spreadsheet to keep track of tweets.  This was as sponsors are added, nobody has to cross them to another spreadsheet.  I just add a couple of column per Mike’s suggestion.  Knowing me I will miss one or not copy websites or Twitter Accounts properly.

I see you got a suggestion to do a TBT video?  I think its a great idea. I don’t have t

[2018-12-15 16:46] AmyJuneH commented on #154
I can do vids, no problem. Just let me know how I can help more.
ss that contains websites, hashtags, and twitter handles
https://docs.google.com/spreadsheets/d/1n--D3tAMDugHRgkZHnKZy8EIIRWzoHldJKlc8dvdAxs/edit#gid=0

[2018-12-29 15:13] mark-casias commented on #161
@ultimike do we have a design for the badges or what needs to be done for this? Just order them?

[2018-12-29 15:15] mark-casias commented on #155
what's needed for this task? Wouldn't Kevin Thull be doing most of this?

[2018-12-30 17:09] ultimike commented on #161
@mark-casias Normally, the person in charge of badges does it all - creates/secures the design, gets the attendee list in .csv format (I can provide that), does the merge (so that names are pre-printed on the badges), arranges for printing, and delivers them to Caroline on Friday of the camp.

Obviously, everything from the .csv on needs to be done in the week leading up to the event. Just provide

[2019-01-02 16:30] mark-casias commented on #161
Sounds good.. I'll take this one then. I'll wait til https://github.com/florida-drupalcamp/fldc-issues/issues/142 is updated and then have everything set up by the end of the month. I can't assign this to myself so this is me claiming it.

[2019-01-02 19:27] andrewmriley commented on #158
Email sent. Waiting on info back.

[2019-01-04 20:08] andrewmriley commented on #158
Email was received. Phil is working on an estimate for 250 users. Number isn't final. Just used for budgeting purposes.

[2019-01-04 21:21] lscook commented on #155
If Kevin is doing the recordings this year he sets his equipment up in the presentation rooms. AV wranglers make sure session leaders have everything they need to do their sessions and everything is working correctly before the session starts. Considering everyone brings their own hardware and software it's all about making sure sessions run smoothly, session leaders are comfortable, and all equip

[2019-01-07 12:23] carolineachee commented on #156
Mike can you send me a copy of the EventBrite output?

Also I lost all my emails so I do not have the link so that I can assign this task to myself....

I would like to start making sure the speakers are registered.

Thank you!
Caroline

[2019-01-07 12:26] carolineachee commented on #161
Mike,

I read somewhere that the lanyards are being supplied.... We need to know what type clip will be on them to insure that we can clip the badges.

Thanks,
Caroline

[2019-01-07 14:27] ultimike commented on #149
I just heard from Steve Burge - he won't be able to attend FLDC19.

So, we'll either need to find someone else to teach his intro course or take it off the schedule.

-mike

[2019-01-07 14:37] capysara commented on #149
Ah, the drop down when you register doesn't match the trainings page. https://www.fldrupal.camp/trainings. I can update if I have the current info and access.

[2019-01-07 14:56] ultimike commented on #156
I'll send you a .csv via email.

thanks,
-mike

On Mon, Jan 7, 2019 at 7:23 AM Caroline Achee <notifications@github.com>
wrote:

[2019-01-07 14:59] ultimike commented on #149
I'll need someone to confirm that what is listed on
https://www.fldrupal.camp/trainings is correct (please check dates - also
it says the React training is sold out?). Once that is done, I'll make sure
EventBrite matches it.

thanks,
-mike

On Mon, Jan 7, 2019 at 9:37 AM Sara Cartee-Kennedy <notifications@github.com>
wrote:

[2019-01-07 15:01] ultimike commented on #161
Good point - I'll ask Salim and report back.

thanks,
-mike

On Mon, Jan 7, 2019 at 7:26 AM Caroline Achee <notifications@github.com>
wrote:

[2019-01-07 15:03] capysara commented on #149
According to the spreadsheet:
Michael Anello - Module Development
Amy June - Contribution Stuff
Joe & Amber Drupalize.me - Theming
Intro to Drupal (maybe if we find someone to teach)?
John Tucker - React
Adam Bergstein and Ryan Bateman - Drupal / Gatsby

[2019-01-07 21:06] AmyJuneH opened #174 "First time contributor workshop or 1/2 day training"
AmyJune (me) is proposing to lead a 1/2 day training or workshop. Either Friday or Sunday, whichever day makes the most sense...

Workshop Proposal:

Come for the code, stay for the community.

Drupal thrives on community contributions in the form of patches and documentation to both contributed modules and core. This helps the project move forward and stay relevant.

Not everyone who works on ope

[2019-01-09 14:08] ultimike commented on #154
I've updated the tweet spreadsheet with some new sponsors.

[2019-01-09 14:09] ultimike commented on #149
@jordanafung Looks like the https://www.fldrupal.camp/trainings page needs to be updated - let myself or @mherchel know if you need access or additional information.

thanks,
-mike

[2019-01-09 21:35] ultimike commented on #148
@AmyJuneH If you have some time, would you be so kind as to go through the proposed sessions and let us know if we have a good mix of proposals? We want to make sure we have a few for each of our proposed tracks.

If not, we'll need to start soliciting specific topics.

thanks,
-mike

[2019-01-10 07:47] AmyJuneH commented on #148
@ultimike

Beginner Track - 3

Being human - 6

Design, theming, front-end - 2

Development & Performance - 2

Non-session

Project Management and consulting - 2

Off the island - 2

SIte building - 4

[2019-01-10 18:55] jordanafung commented on #149
Trainings page has been updated and trainers have been notified.
Thanks!

[2019-01-10 23:51] AmyJuneH commented on #174
I am going to close this one since it looks like the training was added to the site.

[2019-01-10 23:53] AmyJuneH commented on #174
@ultimike closing this ticket

[2019-01-10 23:53] #174 closed, assigned to nobody

[2019-01-15 17:38] andrewmriley commented on #158
Estimate for 250 users: $5916.75

[2019-01-15 17:38] andrewmriley commented on #158
Tagging #142 for this issue as well since I'll need an updated logo

[2019-01-15 18:54] ultimike commented on #158
Registration numbers are lower than last year - might want to get an
estimate for 180 if you think Gringos needs a better number at this time.

-mike

On Tue, Jan 15, 2019 at 12:38 PM Andrew M Riley <notifications@github.com>
wrote:

[2019-01-17 18:42] AmyJuneH commented on #169
I will work on discount codes for loacl meetups and do outreach this weekend

[2019-01-17 18:44] AmyJuneH commented on #154
@gscampbell64  - do you have a plan for trainings and sponsors?? @mherchel has asked me to schedule tweets around the trainings, but i didn't want to replicate any efforts.
I have time this weekend to put them in the queue for next week. Let me know.

[2019-01-17 18:45] AmyJuneH commented on #162
Should we have a blurb about CoC on some newsletters.. Also are we going to have folks as room monitors to introduce speakers.. this would be a good place to add a blurb.

[2019-01-17 18:47] AmyJuneH opened #175 "Room monitors - call for volunteers"
Is this something we're interested in doing..
Monitors would intro speakers, talk about upcoming events (lunch, parties, etc), CoC reminders, "Push the damn button" reminders...

[2019-01-17 19:20] gscampbell64 commented on #154
@AmyJuneH  I don't usually do specific posts for training or sessions. I do general posts to get people to the page to see them.  If you would do specific posts for these that would be great.

George

[2019-01-17 19:21] ultimike commented on #156
Caroline - will you go ahead and order lanyards? Do we have any left over from last year?

[2019-01-17 19:34] lscook commented on #175
Av wranglers do a lot of this already. If there is anything specific you would like for them to mention we can do that. We usually try and get in and out of the room before the session starts so I'm not sure if all attendees would hear it. AV wranglers introduce themselves to the speaker and make sure they are comfortable with the set up and all equipment is working as it should. If we have enough

[2019-01-18 04:12] AmyJuneH commented on #154
Sounds good. I will schedule posts for the specific trainings.. Thanks for getting back so promptly.

[2019-01-18 04:13] AmyJuneH commented on #175
ok - thanks for the insights

[2019-01-18 14:19] carolineachee commented on #156
Mike,

We do have lanyards leftover from previous years. I will go count them.

Caroline

[2019-01-18 14:34] ultimike commented on #156
Thank you!

On Fri, Jan 18, 2019 at 9:19 AM Caroline Achee <notifications@github.com>
wrote:

[2019-01-18 16:15] roberts365 commented on #141
Will need this by Monday January 21 if we are going to met deadlines for t-shirts.
Please post ASAP.

[2019-01-18 16:16] roberts365 commented on #142
What is the update?
Will need t-shirt design by Monday January 21 if we are going to met deadlines for t-shirts.
Please post ASAP.

[2019-01-18 16:18] roberts365 commented on #141
Keep it simple if you have to.  If we can't do it, let me know and I can talk to them.  I think they have a designer on staff.  It will cost us more though.

[2019-01-18 16:28] Ky1e commented on #141
@roberts365 what if we keep the same logo, but change t shirt color? I updated the design to reflect the dates for this year but I think the easiest way to get this done is change the shirt color.

[2019-01-18 16:30] Ky1e commented on #142
Left a note in #141

[2019-01-18 19:17] lscook commented on #175
Sure thing. A call for volunteers for AV wranglers is still open. It's a great way to network and meet some really smart people.

[2019-01-18 19:19] capysara commented on #155
I'll help with this

[2019-01-18 19:21] lscook commented on #155
Thanks Capysara! Great opportunity to volunteer and network with some really smart people. We could use 4 or 5 more volunteers.

[2019-01-18 19:24] lscook commented on #150
Looking for volunteers to help with going to pick up the food and serving the food. Another great opportunity to network. Everyone will recognize you if you give them food.

[2019-01-18 19:26] andrewmriley commented on #150
I can help serve.

[2019-01-18 19:26] capysara commented on #150
I can grab the food in the morning. Do we have access to the fridge there? Otherwise, I can bring a cooler.

[2019-01-18 19:35] lscook commented on #150
That's a really good idea. You'll need help. I think you and I can handle it but we'll need help unloading and carrying it to the lunch room. It's a huge amount of food. I don't know if we have access to refrigerators but that would solve the problem of folks missing part of their training to go get the food. Is there someone we can ask?

[2019-01-18 19:35] ultimike commented on #150
We do, but it's always hit-or-miss how much room is available...

On Fri, Jan 18, 2019 at 2:26 PM Sara Cartee-Kennedy <
notifications@github.com> wrote:

[2019-01-18 19:35] lscook commented on #150
I will have to give Publix a week notice so I will need an approximate training attendee count by Feb. 8, 2019.
List:
Variety of Sub platters: vegetable, cheese, ham, turkey, roast beef.
Variety of Chips
Hand sanitizer
Serving utensils
Disposable plates
Napkins
If you think of anything else please add it to the list.

[2019-01-18 19:40] lscook commented on #150
We need a place to stash at least 7 platters if we have 80 people again.

[2019-01-18 19:50] lscook commented on #159
I'll need address of Dunkin Donuts nearby. Do I need to call them and give them a heads up that we are going to buy up all their donuts and coffee? I get to pick the donuts! What about bagels? I thought we usually have bagels as well.

[2019-01-18 19:52] roberts365 commented on #141
If that is what you all want.
Any objections to alight blue t-shirt?

[2019-01-18 20:24] ultimike commented on #159
Dunkin Donuts
1650 N Alafaya Trl
Orlando, FL  32828

I believe Sara got the bagels last year? Or am I making that up?

-mike

On Fri, Jan 18, 2019 at 2:50 PM lscook <notifications@github.com> wrote:

[2019-01-18 20:24] ultimike commented on #150
We won't have that. Best to pick up the platters around 11am so they don't
need to be refrigerated.

-mike

On Fri, Jan 18, 2019 at 2:40 PM lscook <notifications@github.com> wrote:

[2019-01-18 20:48] ultimike commented on #161
I've already communicated with Caroline via email about this - but we'll be taking care of the lanyards ourselves.

[2019-01-18 20:57] Ky1e commented on #141
If I recall, we did grey last year so blue would be fine. I'll double check the logo to make sure it doesn't clash.

[2019-01-18 20:58] Ky1e commented on #155
I'll assist in this as well

[2019-01-18 22:45] lscook commented on #155
Thanks Ky1e!

[2019-01-18 23:57] capysara commented on #159
I did get bagels last year. And I can get them this year.

[2019-01-21 15:25] Ky1e commented on #141
@roberts365 Switched a color to make it 3 colors. AI, SVG, and PNG are in the dropbox link. Lmk if that doesn't work.

https://www.dropbox.com/sh/hiay9mcub64pqgt/AADsRT-tusAfNQIe72jq1AU5a?dl=0

[2019-01-21 18:00] roberts365 commented on #141
Thank you

[2019-01-21 18:45] AmyJuneH commented on #166
Set up worksheets and issues

[2019-01-23 16:16] ultimike commented on #151
@gscampbell64 @AmyJuneH New sponsor added to tweet spreadsheet - Softescu (Bronze).

[2019-01-23 16:58] AmyJuneH commented on #151
I'll let @gscampbell64 be in charge of sponsor tweets :)

[2019-01-24 00:25] gscampbell64 commented on #151
@ultimike   Just opened the link to the sponsor list I have and there is nothing new.  No Bronze sponsors.  Only Gold, Silver and In Kind. No Softescu.  Can you send me the link to the Google Doc you are updating.  Thanks.

[2019-01-24 14:30] ultimike commented on #151
@gscampbell64 https://docs.google.com/spreadsheets/d/1E4sOWX6jTH8mNlGP0CQynkUWk4lewTNA7-AnFAIwqbg/edit#gid=0

[2019-01-24 14:33] AmyJuneH commented on #151
Hot sauce is listed under two levels.

[2019-01-24 15:15] ultimike commented on #151
Sorry - fixed.

On Thu, Jan 24, 2019 at 9:33 AM AmyJune Hineline <notifications@github.com>
wrote:

[2019-01-24 22:03] carolineachee commented on #143
Current counts

	WS	5
	WM	3
	WL	11
	WXL	1
	W2XL	2
	W3XL	1
	W4XL	0
	W5XL	0
	MS	6
	MM	16
	ML	23
	MXL	18
	M2XL	10
	M3XL	6
	M4XL	0
	M5XL	3
Total		105

[2019-01-25 20:56] ultimike commented on #151
Acquia just signed on as a Gold sponsor! Added to the tweet spreadsheet.

[2019-01-25 21:43] andrewmriley commented on #142
Checking in for catering. Do we have a vector format logo?

[2019-02-01 15:10] capysara commented on #160
Can we do mousepads?

[2019-02-05 21:48] kthull commented on #155
Is anyone interested in learning the ins and outs of the recording kits? My goal this year is to start mentoring folks that would be willing to take on this task for the community so that we can achieve more complete coverage and beyond North America. I should be able to set up Friday after training if rooms are available.

[2019-02-06 12:48] lscook commented on #155
I am interested. Thanks!

[2019-02-06 14:19] kthull commented on #155
Excellent!

[2019-02-08 14:42] lscook commented on #150
What's the latest attendee count for Friday lunch? Time to call Publix and give them a heads up. Documented for future FLDCs: Publix Super Market at Town Park, 12231 E Colonial Dr, Orlando, FL 32826 Phone # (407) 482-1244. Please double check the address for me.

[2019-02-08 14:44] lscook commented on #159
What's the latest attendee count for Sunday food and coffee? I'll call Dunkin and warn them.

[2019-02-08 17:43] acmaintainer commented on #155
I'm in! Looking forward to this. Thanks for the opportunity.

[2019-02-08 18:34] kthull commented on #155
Woot!

[2019-02-08 18:35] kthull commented on #155
I also have a new addition to the kit that should make life a whole lot simpler. Florida will be the first test. :)

[2019-02-08 18:45] kthull commented on #155
@lscook and @acmaintainer here's a link to the more detailed setup and troubleshooting guide if you want to familiarize yourselves with it prior to camp: https://github.com/kthull/session-recording/wiki/Setup-for-Events

I'm in the #florida drupal slack, so we can coordinate a time on Friday afternoon to review setup.

[2019-02-09 17:40] ultimike commented on #159
We don't have any way to know - assume somewhere around 100 people, but we normally play it by ear.

[2019-02-09 17:41] ultimike commented on #150
As of today, we have 76 folks signed up for Friday workshops. Counting instructors and last week signups, I think somewhere around 100 is a good number. Thoughts?

Also - yes, that is the proper Publix.

-mike

[2019-02-11 14:06] carolineachee commented on #161
Good Morning!!

Attached is a excel file with the Badge Information.  We will also need 50 blank name tags for all those who registered late...
[NameTagInformation.xlsx](https://github.com/florida-drupalcamp/fldc-issues/files/2851340/NameTagInformation.xlsx)

Thank you,
Caroline

[2019-02-11 16:19] lscook commented on #150
Called Publix Super Market at Town Park, 12231 E Colonial Dr, Orlando, FL 32826 Phone # (407) 482-1244 and spoke with Deli Manager Corey and gave him a heads up. Ordered 8 platters, 2 each of turkey, ham, italian, and veggie to be picked up at 11 am on Friday the 15th.  Estimated Total $503.92. If there are any changes to this order please contact me asap. Total number of platters is 3 more than w

[2019-02-11 16:31] lscook commented on #159
What time do we start on Sunday?

[2019-02-11 17:14] carolineachee commented on #159
This was a message from before.....Sunday sessions should start at 10am and end by 3pm.

[2019-02-11 17:18] ultimike commented on #150
Thank you!!!

[2019-02-11 17:23] carolineachee commented on #164
Is anyone making a printed copy of the session schedule???

[2019-02-11 17:24] carolineachee commented on #164
Also the web indicates that Sunday the opening is at 9:00 and sessions start at 9:30....

[2019-02-11 17:30] roberts365 commented on #143
Mens shirts are complete.  Women's v-necks are being printed now.  Shirts should be completed no later than tomorrow.  Here are samples of what they look like.

![img_20190211_120324](https://user-images.githubusercontent.com/18563630/52581428-ba2a8980-2df8-11e9-8009-9a455d77acbc.jpg)
![img_20190211_120307](https://user-images.githubusercontent.com/18563630/52581446-c6aee200-2df8-11e9-877a-0e8b51f

[2019-02-11 21:28] lscook commented on #159
Thank you. Any idea how many dozen donuts and how much coffee I should get? I was thinking 8 dozen donuts. The coffee box serves 10 people https://www.dunkindonuts.com/en/food-drinks/hot-drinks/box-o-joe so 10 boxes of coffee? We will have bagels too. I need to call the manager in the morning and tell them how much we're going to need. If you have a favorite donut now is the time to chime in.

[2019-02-11 21:32] ultimike commented on #159
Keep in mind that not everyone shows up early in the morning, so your numbers are probably a bit high.

In the past, I've gone with about 6 and 6, then run to Publix to get extra drinks and snacks as necessary.

-mike

[2019-02-11 21:35] lscook commented on #159
Thanks Mike. I'll tell them 6 & 6. Does Dunkin supply creamer and sugar/sweetner with the coffee? What's your favorite donut?

[2019-02-11 22:01] ultimike commented on #159
Yes, they provide everything.

I like jelly donuts.

[2019-02-11 22:36] lscook commented on #159
Jelly donuts are on the list.

[2019-02-12 13:36] lscook commented on #159
Called Dunkin' Donuts and spoke with Asia. Ordered 6 dozen donuts and 6 boxes of joe to be picked up between 8:30 -9:30 am Sunday 2/17/19. Dunkin Donuts 1650 N Alafaya Trl Orlando, FL 32828, Ph: 407-384-9377.

[2019-02-12 14:44] andrewmriley commented on #158
Forgot to update this ticket. I let Gringos Locos know we're going for 190.

[2019-02-12 18:41] mark-casias commented on #161
Badges have been ordered and should arrive at @ultimike's house on Thursday.

[2019-02-12 20:29] carolineachee commented on #161
Thank-you!!

Will we need to punch slots in the badge?

Thanks!
Caroline

[2019-02-14 16:09] mark-casias commented on #161
negative. I ordered the ones that had a slot on the top

[2019-02-14 16:44] carolineachee commented on #161
Mark!!

Thank you very very much!
Caroline and Karan

[2019-02-14 21:30] Ky1e commented on #163
Party handled.

[2019-02-14 21:30] #163 closed, assigned to nobody

[2019-02-14 21:31] Ky1e commented on #161
Badges ordered. Closing this out.

[2019-02-14 21:31] #161 closed, assigned to nobody

[2019-02-15 13:36] kthull commented on #155
@lscook and @acmaintainer I didn't find you both in the #florida channel, so I'll post here: barring any travel delays, I can be at the venue around 3:30 or so. Will either of you be available this afternoon for an in-depth training on the recording kits? Alternatively, we can do this after the first session tomorrow morning. I see that room 180 is empty at 11:00.

[2019-02-15 14:52] lscook commented on #155
Hi Kevin,

Yes we will be available at 3:30 today. See you then

Thank you,
Linda

On Fri, Feb 15, 2019 at 8:36 AM Kevin Thull <notifications@github.com>
wrote:

--
*Linda Cook*
*321-720-4461*

[2019-02-15 17:01] capysara commented on #159
So, 6 dozen bagels also, unless someone says otherwise.

[2019-02-15 20:26] kthull commented on #155
I messaged in slack but just thought to reply here too. I was delayed leaving the airport so it’s looking more like 4pm

[2019-02-15 20:52] acmaintainer commented on #155
Okay. We are still in class.
M

____________________________________________________________
Terry Bradshaw Enthralled in Controversy
glancence-hality.com
http://thirdpartyoffers.juno.com/TGL3131/5c67267e8e62e267d397dst04vuc

[2019-02-15 21:16] lscook commented on #155
Hey we're still in training but we're here. Room 177 if you can't find us.

On Fri, Feb 15, 2019 at 3:26 PM Kevin Thull <notifications@github.com>
wrote:

--
*Linda Cook*
*321-720-4461*

[2019-02-18 19:52] albertvolkman commented on #141
Could we possibly consider a different brand of shirts for next year? I always find Gildan shirts to be uncomfortable and fit (at least me) oddly.

The shirts Pantheon makes are always super comfortable. I believe they use either American Apparel or Next Level.

If it's a matter of cost, that's fine. But I just find myself wanting to wear the shirts, but then not because I don't like the fit.

Tha

[2019-02-18 21:38] andrewmriley commented on #158
Invoice passed on for payment via email.

[2019-02-18 21:38] #158 closed, assigned to andrewmriley

[2019-02-19 13:08] AmyJuneH commented on #164
@carolineachee what is your d.o profile name?

[2019-02-19 13:09] AmyJuneH commented on #148
Sessions scheduled. Closing issue.

[2019-02-19 13:09] #148 closed, assigned to AmyJuneH

[2019-02-19 13:10] AmyJuneH commented on #149
Camp has concluded. Closing issue. D.o attributions given.

[2019-02-19 13:10] #149 closed, assigned to nobody

[2019-02-19 13:11] AmyJuneH opened #176 "FLDC19 Retrospective / Post Mortem"
FLDC19 Retrospective / Post Mortem

[2019-02-19 13:12] AmyJuneH commented on #175
Camp concluded. D.O attributions give. Closing issues.

[2019-02-19 13:12] #175 closed, assigned to nobody

[2019-02-19 13:13] AmyJuneH commented on #172
Camp concluded. D.O attributions give. Closing issues.

[2019-02-19 13:13] #172 closed, assigned to AmyJuneH

[2019-02-19 13:14] AmyJuneH commented on #140
This happened moons ago. Closing issue.

[2019-02-19 13:14] #140 closed

[2019-02-19 13:14] AmyJuneH commented on #152
Camp concluded. D.O attributions given. Closing issues.

[2019-02-19 13:14] #152 closed, assigned to nobody

[2019-02-19 13:15] AmyJuneH commented on #154
@gscampbell64 do you have a drupal.org user account?

[2019-02-19 13:15] AmyJuneH commented on #164
Camp concluded. D.O attributions given. Closing issues.

[2019-02-19 13:15] #164 closed, assigned to nobody

[2019-02-19 13:17] AmyJuneH commented on #156
Who all helped with registration?? And what are their Drupal profile names?

[2019-02-19 13:18] AmyJuneH commented on #153
Who all helped with this?? And what are their drupal profile names?

[2019-02-19 13:22] AmyJuneH commented on #159
@lscook what is Marcia's d.o profile name??

[2019-02-19 13:23] AmyJuneH commented on #155
@acmaintainer do you have a drupal user profile?

[2019-02-19 13:26] AmyJuneH commented on #170
Camp concluded. d.o set up. CLosing issue.

[2019-02-19 13:26] #170 closed, assigned to AmyJuneH

[2019-02-19 13:29] AmyJuneH commented on #142
@andrewmriley  and @roberts365 ... what is your drupal user name?

[2019-02-19 14:26] gscampbell64 commented on #154
It is geocamp.

[2019-02-19 18:11] andrewmriley commented on #142
@AmyJuneH https://www.drupal.org/u/andrew-m-riley

[2019-02-20 19:45] lscook commented on #150
Notes for next year: We need to add lysol wipes to the list for clean up and maybe some kind of signage so we won't have to keep repeating what's on the sandwiches. We ordered 3 more platters in 2019, (8 platters) than in 2018 and had one left over. The overall favorite was italian on wheat. Total cost ~ $650.00
New list:
Variety of Sub platters: vegetarian, ham, turkey, italian.
Variety of Chips

[2019-02-20 19:47] lscook commented on #159
6 dozen donuts and 6 boxes of joe were plenty.

[2019-02-20 23:07] carolineachee commented on #164
AmyJune,

My drupal name is cachee

Caroline

From: AmyJune Hineline <notifications@github.com>
Sent: Tuesday, February 19, 2019 8:08 AM
To: florida-drupalcamp/fldc-issues <fldc-issues@noreply.github.com>
Cc: Caroline Achee <cachee@cfl.rr.com>; Mention <mention@noreply.github.com>
Subject: Re: [florida-drupalcamp/fldc-issues] Session scheduling (#164)

@carolineachee <https://github.com/carolineac